
.site-content {
  max-width: 100%;
  margin: 0 auto;
   }
  .site-content:after {
    content: " ";
    display: block;
    clear: both; }

.section-title {
  text-align: center;
  text-transform: uppercase; }

.align-center {
  text-align: center; }
  .align-center h1 {
    margin-top: 0; }

.share {
  margin-bottom: 50px; }
  .share span, .share a, .share iframe {
    vertical-align: middle; }
    .share span span, .share a span, .share iframe span {
      vertical-align: middle !important;
      width: 130px !important; }

.demo {
  margin: 100px 0; }
  .demo h2 {
    margin-bottom: 10px;
    line-height: 1; }

.demo-1 {
  text-align: center; }

.demo-2 {
  text-align: left; }
  .demo-2 .section-title {
    text-align: left; }

.columns:after {
  content: " ";
  display: block;
  clear: both; }

.columns .column {
  float: left;
  min-height: 1px; }

.columns h2 {
  margin-bottom: 20px;
  line-height: 1; }

pre {
  background-color: #fbfbfb;
  padding: 10px; }

.activite {
  width: 100%;
  float: left;
  margin-bottom: 20px;

 }
  .activites-list:after {
    content: " ";
    display: block;
    clear: both; }
  .activite_image {
    display: block;
    position: relative; }
    .activite_image img {
      max-width: 100%;
      height: 300px;
      display: block;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .activite_image:after {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
      transition: opacity .3s ease;
      opacity: 0; }
  .activite_card {
    position: relative;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent; }
    .activite_card.hover-in {
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out; }
    .activite_card.hover-out {
      transition: -webkit-transform .2s ease-in;
      transition: transform .2s ease-in;
      transition: transform .2s ease-in, -webkit-transform .2s ease-in; }
  .activite:hover .activite_card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  .activite:hover .activite_image:after {
    opacity: 1; }
  .activite:hover .activite_detail {
    border-width: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  .activite:hover .activite_title, .project:hover .activite_category {
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; }
  .activite:hover .activite_title {
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1; }
  .activite_detail {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transform: translateZ(30px);
            transform: translateZ(30px);
    border: 0 solid #84AF10 ;
    transition: border .4s ease; }
  .activite_title {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
        -ms-transform: translateY(40px) scale(0);
            transform: translateY(40px) scale(0);
    will-change: transform; }
    .activite_title{
      color: white; }
  .activite_category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    -webkit-transform: translateY(40px) scale(0);
        -ms-transform: translateY(40px) scale(0);
            transform: translateY(40px) scale(0);
    will-change: transform; }
    .activite_category a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.3em; }

