@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: riseofkingdom;
  src: url(../fonts/riseofkingdom.ttf); }

body {
  margin: 0 auto;
  background-color: #84AF10;
  /*Fixed Book Button*/
  /*about us */
  /*Room Css */
  /*Activites Css */
  /* Testimonial Section */
  /*Restuarant Css */
  /*Gallery page css  */
  /* Contact Us page Css */
  /* Reservation Page Css */
  /* Roomspage Css */
  /* Event Page Css */
  /*Search Result Page Css*/
  /*Search Ends*/
  /*Mobile Responsive Contact Us  Page*/
  /*Mobile Responsive Ends*/
  /*Responsive for tablet ends*/ }
  body .form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  body .btn.focus,
  body .btn:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  body .modal-backdrop {
    z-index: 0 !important; }
  body .padding {
    margin: 0px;
    padding: 0px; }
  body h2 {
    text-transform: uppercase;
    color: #84AF10; }
  body .btn-outline {
    color: #84AF10;
    border-color: #84AF10;
    font-family: "riseofkingdom";
    font-size: 24px; }
  body .btn-outline:hover {
    color: #fff;
    background-color: #84AF10;
    border-color: #84AF10; }
  body hr {
    border: 2px solid #84AF10; }
  body a:focus {
    outline: none; }
  body .content {
    background-color: #e9ebee;
    z-index: 1;
    position: relative; }
  body .block-menu li a {
    font-family: "riseofkingdom"; }
  body .show {
    display: block !important; }
  body #book_botton {
    display: none; }
    body #book_botton a {
      font-family: "riseofkingdom";
      bottom: 25%;
      z-index: 1;
      position: fixed;
      right: 0;
      font-size: 18px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      background: #BDE453;
      border: none;
      color: white; }
      body #book_botton a .text {
        display: block; }
    body #book_botton .btn {
      padding: 5px 15px; }
    body #book_botton .btn:hover {
      padding: 5px 20px; }
  body #popup_this {
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 50px;
    margin-left: -50px;
    position: fixed;
    padding: 30px;
    z-index: 1; }
    body #popup_this .b-close {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
      color: #fff;
      background: #ff0000;
      padding: 5px 10px; }
  body .banner-slider {
    margin-bottom: 70px;
    position: relative; }
    body .banner-slider .carousel-item {
      overflow: hidden;
      height: 600px; }
      body .banner-slider .carousel-item img {
        margin-top: 110px;
        width: 100%;
        position: absolute;
        min-height: 300px;
        height: 600px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 10px 10px grey;
        box-shadow: 10px 10px grey; }
    body .banner-slider .booknow {
      border-radius: 1%;
      position: absolute;
      bottom: -40px;
      max-width: 100%;
      left: 0;
      right: 0; }
      body .banner-slider .booknow .Wrapper {
        background-color: #84AF10;
        -webkit-box-shadow: inset -1px 1px 20px 0px black;
        box-shadow: inset -1px 1px 20px 0px black;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid white; }
      body .banner-slider .booknow .btn {
        padding: 5px 48px;
        font-size: 18px;
        font-family: "riseofkingdom";
        font-weight: 400;
        background-color: green;
        color: white;
        margin-top: 15px;
        margin-left: 20px; }
      body .banner-slider .booknow .form-group {
        margin-top: 20px; }
        body .banner-slider .booknow .form-group label {
          font-family: "riseofkingdom";
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 5px;
          color: white;
          margin-right: 10px; }
        body .banner-slider .booknow .form-group .form {
          font-size: 14px;
          padding: 4px 21px;
          background-color: rgba(255, 255, 255, 0.5);
          color: black;
          border: none; }
  body #aboutus-section {
    margin-bottom: 0px;
    background-color: #e9ebee; }
    body #aboutus-section .heading {
      margin-bottom: 30px; }
      body #aboutus-section .heading h4 {
        font-family: "riseofkingdom";
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        color: #84AF10; }
      body #aboutus-section .heading h2 {
        font-family: "riseofkingdom";
        font-size: 36px;
        text-align: center;
        color: #333333 !important; }
    body #aboutus-section .info p {
      font-family: 'Didact Gothic', sans-serif;
      margin-bottom: 50px;
      font-weight: 400;
      font-size: 18px; }
    body #aboutus-section .amenities {
      margin-bottom: 20px;
      background: -webkit-gradient(linear, left top, right bottom, from(#84AF10), to(green));
      background: -webkit-linear-gradient(top left, #84AF10, green);
      background: -o-linear-gradient(top left, #84AF10, green);
      background: linear-gradient(to bottom right, #84AF10, green);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 5px 5px 5px #8e8989;
      box-shadow: 5px 5px 5px #8e8989; }
      body #aboutus-section .amenities .info {
        padding-top: 25px;
        margin-left: 25px; }
        body #aboutus-section .amenities .info h2 {
          color: white;
          font-family: "riseofkingdom";
          font-weight: 400;
          text-transform: none; }
        body #aboutus-section .amenities .info p {
          text-align: justify;
          font-family: "Cookie", cursive;
          font-weight: 400;
          font-size: 24px; }
      body #aboutus-section .amenities .padding {
        margin: 0px;
        padding: 0px; }
      body #aboutus-section .amenities .amenities-cat-item {
        height: 200px;
        width: 180px;
        margin-top: 30px;
        background-color: #e4f7f6;
        padding-top: 25px;
        border-radius: 3%; }
        body #aboutus-section .amenities .amenities-cat-item img {
          height: 75px;
          width: 75px;
          margin-left: 60px;
          margin-bottom: 20px; }
        body #aboutus-section .amenities .amenities-cat-item h4 {
          text-align: center;
          font-family: "riseofkingdom"; }
  body #rooms-section {
    background-image: url(../images/room-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-attachment: fixed;
    margin-bottom: 70px; }
    body #rooms-section .heading {
      padding-top: 50px;
      margin-bottom: 100px; }
      body #rooms-section .heading h2 {
        font-family: "riseofkingdom";
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        color: white !important;
        margin-bottom: 20px; }
      body #rooms-section .heading p {
        font-family: 'Philosopher', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        color: white !important; }
    body #rooms-section .slick-slide {
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
      width: 250px; }
      body #rooms-section .slick-slide img {
        height: 200px; }
    body #rooms-section .room-description {
      margin-right: 0px;
      height: 460px;
      background-color: #e4f7f6;
      margin-bottom: 25px;
      margin-bottom: 80px;
      width: 250px; }
      body #rooms-section .room-description .image img {
        width: 100%;
        height: 200px;
        margin-bottom: 20px; }
      body #rooms-section .room-description .info h4 {
        font-family: "riseofkingdom";
        color: #84AF10;
        text-transform: uppercase;
        margin-bottom: 10px; }
      body #rooms-section .room-description .info .price {
        position: relative; }
        body #rooms-section .room-description .info .price img {
          height: 50px;
          width: 100%;
          margin-bottom: 15px; }
        body #rooms-section .room-description .info .price .price_tag {
          position: absolute;
          top: 12px;
          left: 50px; }
      body #rooms-section .room-description .info p {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Philosopher', sans-serif;
        color: white; }
      body #rooms-section .room-description .info .icon {
        font-size: 22px; }
        body #rooms-section .room-description .info .icon i {
          margin-left: 15px;
          margin-right: 15px; }
      body #rooms-section .room-description .info a {
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: uppercase; }
      body #rooms-section .room-description .info a:hover {
        -webkit-box-shadow: none;
        box-shadow: none; }
  body #activites .heading {
    margin-bottom: 70px;
    font-family: "riseofkingdom"; }
  body #activites .padding {
    margin: 0;
    padding: 0; }
  body #activites .activite_title {
    font-family: "riseofkingdom" !important; }
  body #testimonial .heading h4 {
    color: #8F0303;
    padding-top: 50px;
    font-family: "riseofkingdom";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #84AF10;
    text-transform: uppercase;
    margin-bottom: 20px; }
  body #testimonial .heading h2 {
    font-family: "riseofkingdom";
    font-size: 36px;
    text-align: center;
    color: #333333 !important; }
  body #testimonial .carousel {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px; }
  body #testimonial .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px; }
  body #testimonial .carousel .item a {
    color: #eb7245; }
  body #testimonial .carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%; }
  body #testimonial .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%; }
  body #testimonial .carousel .testimonial {
    padding: 30px 0 10px;
    font-size: 24px;
    color: black;
    font-family: "Cookie", cursive; }
  body #testimonial .carousel .overview {
    text-align: center;
    padding-bottom: 5px; }
  body #testimonial .carousel .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px; }
  body #testimonial .carousel .star-rating i {
    font-size: 18px;
    color: #ffdc12; }
  body #testimonial .carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    text-shadow: none;
    top: 4px; }
  body #testimonial .carousel-control i {
    font-size: 20px;
    margin-right: 2px; }
  body #testimonial .carousel-control.left {
    left: auto;
    right: 40px; }
  body #testimonial .carousel-control.right i {
    margin-right: -2px; }
  body #testimonial .carousel .carousel-indicators {
    bottom: 15px;
    z-index: -2; }
  body #testimonial .carousel-indicators li,
  body #testimonial .carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%; }
  body #testimonial .carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent; }
  body #testimonial .carousel-indicators li.active {
    border: none;
    background: #888; }
  body #subscribe .background {
    border-top: 5px solid #84AF10;
    -webkit-box-shadow: inset 0px 5px 5px #8e8989;
    box-shadow: inset 0px 5px 5px #8e8989;
    background: -webkit-gradient(linear, left top, right top, from(#f5cb14), to(#47434a)) !important;
    background: -webkit-linear-gradient(left, #f5cb14, #47434a) !important;
    background: -o-linear-gradient(left, #f5cb14, #47434a) !important;
    background: linear-gradient(to right, #f5cb14, #47434a) !important; }
  body #subscribe .text {
    padding-top: 25px;
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
    color: white; }
  body #subscribe form {
    padding-top: 25px; }
    body #subscribe form .form-control {
      line-height: 2.5; }
    body #subscribe form .btn {
      position: absolute;
      top: 25px;
      right: 0;
      border-radius: 0 3px 3px 0;
      line-height: 2.5; }
  body #subscribe .followus .title {
    padding-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 100px;
    font-family: "riseofkingdom";
    color: white; }
  body #subscribe .followus .fa {
    font-size: 24px; }
  body #subscribe .followus .btn {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    color: white;
    padding-top: 13px;
    position: relative;
    left: 50px; }
  body #subscribe .followus .btn-fb:hover {
    background-color: #3b5998;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  body #subscribe .followus .btn-insta:hover {
    background-color: #df308d;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  body #subscribe .followus .btn-tweet:hover {
    background-color: #00aced;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  body #subscribe .followus .btn-googleplus:hover {
    background-color: #d34836;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s; }
  body .footer-content {
    background-color: #47434a;
    color: white; }
    body .footer-content .footer-logo img {
      height: 150px;
      width: 265px;
      margin-top: 5px;
      margin-bottom: 30px; }
    body .footer-content .text-wrapper {
      padding-top: 70px; }
      body .footer-content .text-wrapper .fa {
        font-size: 35px;
        color: #84AF10;
        width: 50px;
        height: 40px;
        text-align: center;
        margin-right: 15px; }
      body .footer-content .text-wrapper p {
        font-family: 'Philosopher', sans-serif;
        font-size: 14px;
        padding-top: 20px; }
    body .footer-content .policy li {
      display: inline-block;
      margin-right: 10px;
      text-align: center; }
      body .footer-content .policy li a {
        font-size: 12px; }
    body .footer-content .copyright {
      font-size: 12px; }
      body .footer-content .copyright .name {
        color: #84AF10; }
    body .footer-content .Developedby {
      font-size: 12px; }
  body .restuarant-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px #8e8989;
    box-shadow: 5px 5px 5px #8e8989; }
    body .restuarant-banner .text-wrapper {
      position: absolute;
      top: 50%;
      color: white; }
      body .restuarant-banner .text-wrapper h1 {
        text-transform: uppercase;
        font-family: "riseofkingdom";
        font-weight: 400; }
      body .restuarant-banner .text-wrapper h5 {
        text-transform: uppercase;
        font-family: "riseofkingdom";
        font-size: 22px; }
  body .restuarant-banner img {
    position: absolute;
    height: 450px;
    width: 100%; }
  body #about-restuarent .restauarant {
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px; }
  body #about-restuarent .heading {
    padding-top: 20px; }
    body #about-restuarent .heading h3 {
      font-family: "riseofkingdom"; }
  body #about-restuarent .text-wrapper {
    font-family: "Cookie", cursive;
    font-size: 24px; }
  body #about-restuarent .cook_image {
    margin-bottom: 25px; }
    body #about-restuarent .cook_image img {
      height: 125px;
      width: 125px;
      border-radius: 50%;
      position: absolute;
      bottom: 20px;
      left: 20%;
      border: 1px solid white; }
    body #about-restuarent .cook_image p {
      font-family: "Cookie", cursive;
      font-size: 24px;
      margin-bottom: 25px; }
  body #bar .wrapper {
    position: relative;
    margin-bottom: 30px; }
    body #bar .wrapper img {
      -webkit-box-shadow: 5px 5px 5px #8e8989;
      box-shadow: 5px 5px 5px #8e8989; }
  body #bar .about-bar {
    position: absolute;
    top: 20%;
    right: -150px;
    background-color: #f1e7e7;
    height: 375px;
    width: 400px;
    border: 1px solid #f1f1f1;
    padding: 30px 30px 30px 30px;
    font-family: "Cookie", cursive;
    border-radius: 5px;
    font-size: 24px; }
    body #bar .about-bar h4 {
      font-family: "riseofkingdom";
      text-transform: uppercase;
      color: #84AF10; }
    body #bar .about-bar p {
      font-weight: 200px; }
  body #food-item {
    margin-bottom: 50px; }
    body #food-item h1 {
      text-align: center;
      font-family: 500px; }
    body #food-item .food-menu .heading h1 {
      font-family: "riseofkingdom";
      margin-bottom: 25px;
      text-transform: uppercase;
      color: #84AF10; }
    body #food-item .snip1482 {
      font-family: "riseofkingdom";
      position: relative;
      float: left;
      margin: 10px 20px;
      min-width: 250px;
      max-width: 250px;
      height: 200px;
      width: 100%;
      color: #ffffff;
      text-align: right;
      line-height: 1.4em;
      background-color: white;
      border-radius: 1%;
      font-size: 16px;
      margin-bottom: 10px;
      -webkit-box-shadow: 10px 10px 5px #adb798;
      box-shadow: 10px 10px 5px #adb798;
      border-radius: 50%; }
    body #food-item .snip1482 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    body #food-item .snip1482 img {
      position: absolute;
      right: 0%;
      top: 50%;
      opacity: 1;
      width: 100%;
      height: 200px;
      -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      border-radius: 50%; }
    body #food-item .snip1482 figcaption {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 20px 0 20px 20px; }
    body #food-item .snip1482 h2,
    body #food-item .snip1482 p {
      margin-right: 20px;
      width: 100%;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      opacity: 0; }
    body #food-item .snip1482 h2 {
      font-family: "riseofkingdom";
      text-transform: uppercase;
      margin-bottom: 5px;
      padding-right: 25px;
      font-size: 18px; }
    body #food-item .snip1482 small {
      color: black;
      font-size: 16px;
      font-family: "Crimson Text", serif;
      font-weight: bold; }
    body #food-item .snip1482 a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
    body #food-item .snip1482:hover img,
    body #food-item .snip1482.hover img {
      width: 60%;
      right: -10%;
      height: 50%; }
    body #food-item .snip1482:hover figcaption h2,
    body #food-item .snip1482.hover figcaption h2,
    body #food-item .snip1482:hover figcaption p,
    body #food-item .snip1482.hover figcaption p {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1; }
  body .last-banner {
    position: relative; }
    body .last-banner .text-wrapper {
      position: absolute;
      top: 35%;
      color: white; }
      body .last-banner .text-wrapper h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-family: "riseofkingdom";
        margin-bottom: 20px; }
      body .last-banner .text-wrapper p {
        font-family: "riseofkingdom";
        font-size: 20px; }
  body .gallery-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px #8e8989;
    box-shadow: 5px 5px 5px #8e8989; }
    body .gallery-banner .text-wrapper {
      position: absolute;
      top: 50%;
      color: white; }
      body .gallery-banner .text-wrapper h1 {
        font-family: "riseofkingdom";
        text-transform: uppercase;
        font-weight: bold; }
  body .gallery-banner img {
    position: absolute;
    height: 450px;
    width: 100%;
    padding-top: 56px; }
  body #gallery {
    margin-top: 20px;
    border: solid 5px white;
    border-bottom-color: white;
    border-left-color: white;
    border-radius: 2px;
    border-right-color: white;
    border-top-color: #ddd;
    -webkit-box-shadow: 5px 5px 5px #8e8989;
    box-shadow: 5px 5px 5px #8e8989;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body .contactus-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px #8e8989;
    box-shadow: 5px 5px 5px #8e8989; }
    body .contactus-banner .text-wrapper {
      position: absolute;
      top: 50%;
      color: white; }
      body .contactus-banner .text-wrapper h1 {
        text-transform: uppercase;
        font-family: "riseofkingdom";
        font-weight: 400; }
      body .contactus-banner .text-wrapper h5 {
        text-transform: uppercase;
        font-family: "riseofkingdom";
        font-size: 22px; }
  body .contactus-banner img {
    position: absolute;
    height: 450px;
    width: 100%; }
  body #contactus {
    margin-bottom: 70px;
    padding-top: 20px; }
    body #contactus .form-area .heading {
      margin-bottom: 20px;
      font-family: "riseofkingdom"; }
      body #contactus .form-area .heading .color {
        color: #84AF10; }
    body #contactus .form-area .btn {
      font-family: "riseofkingdom";
      font-size: 18px; }
    body #contactus .form-area .btn-primary:hover {
      background-color: #84AF10;
      border-color: #84AF10; }
    body #contactus .contact-info {
      height: 500px;
      border-left: 2px solid #84AF10; }
      body #contactus .contact-info h4 {
        font-family: "riseofkingdom"; }
      body #contactus .contact-info .table {
        margin-left: 30px;
        width: 90%;
        font-family: 'Philosopher', sans-serif;
        font-size: 18px; }
  body .btn-primary {
    color: #fff;
    background-color: #84AF10;
    border-color: #84AF10;
    margin-bottom: 50px; }
  body .package-list {
    margin-left: 20px; }
  body .nav-tabs {
    margin-bottom: 20px; }
    body .nav-tabs .nav-item .active {
      background-color: #84AF10;
      color: white !important; }
    body .nav-tabs .nav-item .nav-link {
      font-size: 20px;
      font-family: "riseofkingdom";
      color: #84AF10; }
  body input[type="checkbox"] {
    width: 15px;
    /*Desired width*/
    height: 15px;
    /*Desired height*/
    margin-right: 10px; }
  body .form-group input:focus {
    outline: none !important; }
  body .rooms-banner {
    position: relative;
    margin-bottom: 100px; }
    body .rooms-banner .banner-image {
      overflow: hidden;
      height: 100vh;
      position: relative;
      -webkit-box-shadow: 5px 5px 5px #8e8989;
      box-shadow: 5px 5px 5px #8e8989; }
    body .rooms-banner .banner-image img {
      position: absolute;
      height: 100vh;
      min-width: 100%; }
    body .rooms-banner .text-wrapper {
      position: absolute;
      bottom: 0;
      background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(255, 0, 0, 0)));
      background: -webkit-linear-gradient(bottom, black, rgba(255, 0, 0, 0));
      background: -o-linear-gradient(bottom, black, rgba(255, 0, 0, 0));
      background: linear-gradient(to top, black, rgba(255, 0, 0, 0));
      height: 150px;
      width: 100%;
      color: white; }
      body .rooms-banner .text-wrapper .heading {
        padding-top: 50px; }
        body .rooms-banner .text-wrapper .heading h3 {
          font-family: "riseofkingdom";
          line-height: normal;
          font-weight: 500; }
        body .rooms-banner .text-wrapper .heading i {
          font-size: 24px;
          margin-right: 24px; }
        body .rooms-banner .text-wrapper .heading p {
          font-size: 18px;
          font-family: "riseofkingdom"; }
      body .rooms-banner .text-wrapper .rate-info {
        padding-top: 30px; }
        body .rooms-banner .text-wrapper .rate-info .rate-label {
          padding-top: 20px;
          color: #fff;
          font-family: "riseofkingdom";
          font-weight: 500;
          text-transform: uppercase; }
          body .rooms-banner .text-wrapper .rate-info .rate-label .btn {
            position: absolute;
            right: 25px;
            top: 50px;
            border-outline: none; }
  body #wrapper .tab-link {
    font-family: "riseofkingdom"; }
  body #room-description {
    margin-bottom: 100px; }
    body #room-description hr {
      border: 0;
      height: 1px;
      background: #84AF10;
      background-image: -webkit-gradient(linear, left top, right top, from(#84AF10), color-stop(#333), to(#84AF10));
      background-image: -webkit-linear-gradient(left, #84AF10, #333, #84AF10);
      background-image: -o-linear-gradient(left, #84AF10, #333, #84AF10);
      background-image: linear-gradient(to right, #84AF10, #333, #84AF10); }
    body #room-description .room-image img {
      width: 100%;
      height: 200px;
      -webkit-box-shadow: 5px 5px 11px #84AF10;
      box-shadow: 5px 5px 11px #84AF10;
      margin-bottom: 50px; }
    body #room-description .room-detail {
      padding-left: 20px; }
      body #room-description .room-detail .heading {
        font-family: "riseofkingdom";
        color: #84AF10; }
      body #room-description .room-detail p {
        font-family: "riseofkingdom";
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        text-align: center; }
    body #room-description .room-feature {
      font-family: 'Didact Gothic', sans-serif;
      font-size: 14px; }
      body #room-description .room-feature .standard-hidden-feature {
        display: none; }
      body #room-description .room-feature .wooden-hidden-feature {
        display: none; }
      body #room-description .room-feature .homestay-hidden-feature {
        display: none; }
      body #room-description .room-feature .tentstay-hidden-feature {
        display: none; }
    body #room-description .room-price {
      float: right; }
      body #room-description .room-price .price {
        text-align: right; }
        body #room-description .room-price .price strike {
          color: red; }
        body #room-description .room-price .price h2 {
          font-size: 22px;
          font-family: "riseofkingdom";
          color: black;
          margin-top: 10px; }
      body #room-description .room-price .button {
        background-color: #84bd00;
        border: none;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 6px;
        font-family: "riseofkingdom";
        float: right; }
  body .event-banner {
    overflow: hidden;
    height: 450px;
    position: relative;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.5); }
    body .event-banner .text-wrapper {
      position: absolute;
      top: 50%;
      color: white; }
      body .event-banner .text-wrapper h1 {
        text-transform: uppercase;
        font-family: "riseofkingdom";
        font-weight: 400; }
      body .event-banner .text-wrapper h5 {
        font-family: "riseofkingdom";
        font-weight: 300;
        font-size: 22px; }
  body .event-banner img {
    position: absolute;
    height: 450px;
    width: 100%; }
  body #event-description .event {
    margin-bottom: 30px;
    border: 1px solid #84AF10;
    background-color: white;
    height: auto;
    overflow: hidden; }
    body #event-description .event .image img {
      width: 100%;
      margin: 40px 10px;
      -webkit-box-shadow: 5px 5px 11px #84AF10;
      box-shadow: 5px 5px 11px #84AF10; }
    body #event-description .event .title {
      padding-top: 20px;
      font-family: "riseofkingdom"; }
      body #event-description .event .title h5 {
        color: #84AF10;
        font-family: "riseofkingdom";
        font-size: 16px; }
      body #event-description .event .title p {
        font-size: 14px; }
    body #event-description .event .details li {
      font-size: 14px;
      font-family: Poppins;
      line-height: 1.5; }
  body #tab-1 .event {
    margin-bottom: 50px; }
    body #tab-1 .event .image img {
      width: 100%;
      height: 300px;
      -webkit-box-shadow: 5px 5px 11px #84AF10;
      box-shadow: 5px 5px 11px #84AF10; }
    body #tab-1 .event .image:hover {
      opacity: 0.5; }
    body #tab-1 .event .event-details .event-header {
      margin-bottom: 30px;
      height: 100px; }
      body #tab-1 .event .event-details .event-header .event-time {
        width: 100px;
        height: 120px;
        border: solid 2px #84AF10;
        padding-top: 15px;
        float: left;
        margin-right: 20px; }
        body #tab-1 .event .event-details .event-header .event-time .day {
          font-family: "Playfair Display", serif;
          font-size: 48px;
          font-weight: bold;
          line-height: 1;
          text-align: center;
          color: #84AF10;
          margin: 0px; }
        body #tab-1 .event .event-details .event-header .event-time .month {
          font-family: "Playfair Display", serif;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          color: #84AF10;
          margin: 0px; }
      body #tab-1 .event .event-details .event-header .event-info {
        font-family: "riseofkingdom";
        font-weight: 400; }
    body #tab-1 .event .event-details .event-detail p {
      font-family: "Cookie", cursive;
      font-weight: 400;
      font-size: 24px; }
    body #tab-1 .event .event-details .event-detail .btn {
      font-size: 18px; }
  body .select_guest {
    margin-bottom: 10px; }
  body .select_guest label {
    font-size: 16px; }
  body .search_rooms {
    height: auto;
    background-color: #84AF10;
    margin-bottom: 100px;
    -webkit-box-shadow: 5px 5px 5px #8e8989;
    box-shadow: 5px 5px 5px #8e8989; }
    body .search_rooms .room_title h4 {
      font-size: 14px;
      position: absolute;
      bottom: 0px;
      right: 0px; }
    body .search_rooms .title {
      text-align: center;
      margin-bottom: 20px; }
    body .search_rooms .room_picker {
      padding: 10px 18px; }
    body .search_rooms .room_picker {
      padding: 10px 18px; }
    body .search_rooms .nav-tabs .nav-item {
      background-color: #84AF10;
      border: 1px solid white; }
      body .search_rooms .nav-tabs .nav-item .nav-link {
        color: white !important; }
    body .search_rooms .nav-tabs .nav-item:hover {
      background-color: green;
      border: 1px solid #84AF10; }
    body .search_rooms .note h2 {
      color: red;
      font-size: 14px; }
    body .search_rooms .rooms_select {
      display: block;
      width: 110%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
    body .search_rooms .search_button {
      margin-bottom: 20px;
      margin-top: 20px; }
  body .header_content {
    background: #84AF10;
    color: white;
    padding: 7px 15px;
    margin-bottom: 10px; }
    body .header_content .content {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      color: white;
      background-color: #84AF10; }
      body .header_content .content__container {
        font-weight: 600;
        overflow: hidden;
        height: 40px;
        text-align: center; }
        body .header_content .content__container:after, body .header_content .content__container:before {
          position: absolute;
          top: 0;
          font-size: 36px;
          line-height: 40px;
          -webkit-animation-name: opacity;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          animation-name: opacity;
          animation-duration: 2s;
          animation-iteration-count: infinite; }
        body .header_content .content__container__text {
          display: inline;
          text-align: center;
          margin: 0; }
        body .header_content .content__container__list {
          margin-top: 0;
          text-align: center;
          list-style: none;
          -webkit-animation-name: change;
          -webkit-animation-duration: 10s;
          -webkit-animation-iteration-count: infinite;
          animation-name: change;
          animation-duration: 10s;
          animation-iteration-count: infinite; }
          body .header_content .content__container__list__item {
            line-height: 40px;
            margin: 0; }

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); } }

@-o-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0); } }

@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0); } }

@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); } }
  body .search_rooms select {
    padding: 0px 10px; }
  body .search_result {
    margin-bottom: 20px; }
    body .search_result .heading {
      background: #4d4d4f;
      color: white;
      padding: 15px 15px;
      border: 1px solid; }
      body .search_result .heading a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: "Playfair Display", serif; }
    body .search_result .offer_room {
      border: 1px solid gray;
      margin-bottom: 10px; }
      body .search_result .offer_room .image img {
        height: auto;
        width: 100%; }
      body .search_result .offer_room .room_description h4 {
        color: #84AF10;
        font-family: "riseofkingdom";
        font-size: 24px;
        padding-top: 10px; }
      body .search_result .offer_room .price_details .btn {
        background-color: #84AF10;
        padding: 5px 40px;
        color: white;
        text-decoration: none; }
      body .search_result .offer_room .price_details .card-header {
        text-decoration: underline;
        color: #84AF10;
        font-size: 14px;
        text-align: center; }
      body .search_result .offer_room .price_details .card-body {
        font-size: 14px; }
    body .search_result .rooms_rate_list {
      border: 1px solid gray; }
      body .search_result .rooms_rate_list .rooms_search .date {
        background-color: #84AF10;
        color: white;
        padding: 10px 10px;
        font-size: 18px;
        font-family: "Playfair Display", serif; }
      body .search_result .rooms_rate_list .rooms_search .card-header a {
        text-decoration: none;
        color: black;
        font-family: "Playfair Display", serif; }
        body .search_result .rooms_rate_list .rooms_search .card-header a .text {
          float: right; }
          body .search_result .rooms_rate_list .rooms_search .card-header a .text .rate {
            font-size: 24px;
            -webkit-text-decoration: bold;
            text-decoration: bold; }
      body .search_result .rooms_rate_list .rooms_search .card-header a:after {
        font-family: FontAwesome;
        content: "\f068";
        float: left;
        color: #84AF10;
        margin-right: 10px;
        border: 1px solid #84AF10;
        padding: 1px 3px;
        font-size: 12px; }
      body .search_result .rooms_rate_list .rooms_search .card-header a.collapsed:after {
        float: left !important;
        content: "\f067";
        color: #84AF10;
        margin-right: 10px #84AF10; }
      body .search_result .rooms_rate_list .card-body .policy_text {
        font-size: 14px;
        color: black;
        padding-left: 20px; }
      body .search_result .rooms_rate_list .card-body .price_details {
        float: right; }
        body .search_result .rooms_rate_list .card-body .price_details .strike-rate {
          font-size: 14px;
          margin-right: 10px;
          color: red; }
        body .search_result .rooms_rate_list .card-body .price_details .rate {
          font-size: 20px;
          font-family: "Playfair Display", serif;
          margin-right: 20px; }
        body .search_result .rooms_rate_list .card-body .price_details .inline {
          display: inline-block; }
        body .search_result .rooms_rate_list .card-body .price_details .btn {
          background-color: #84AF10;
          padding: 5px 40px;
          color: white;
          text-decoration: none; }
      body .search_result .rooms_rate_list .card-body .child-collapse {
        border: 1px solid gray;
        -webkit-box-shadow: 0px 3px 2px #888888;
        box-shadow: 0px 3px 2px #888888;
        padding: 20px 30px; }
        body .search_result .rooms_rate_list .card-body .child-collapse .title h2 {
          font-size: 16px;
          text-decoration: underline; }
        body .search_result .rooms_rate_list .card-body .child-collapse .room_details h4 {
          font-size: 14px; }
        body .search_result .rooms_rate_list .card-body .child-collapse .room_details p {
          line-height: 1;
          font-size: 14px;
          margin-left: 40px;
          display: list-item; }
        body .search_result .rooms_rate_list .card-body .child-collapse .room_details .btn {
          background-color: #84AF10;
          padding: 5px 40px;
          color: white;
          text-decoration: none; }
  body .terms {
    padding: 10px 10px;
    line-height: 1; }
  body .rate_details .heading {
    background: #4d4d4f;
    color: white;
    padding: 15px 15px;
    border: 1px solid; }
    body .rate_details .heading h4 {
      font-size: 18px; }
  body .rate_details .header_content {
    background: #84AF10;
    color: white;
    padding: 7px 15px;
    margin-bottom: 10px; }
  body .rate_details .inline {
    display: inline-block; }
  body .rate_details .review_booking {
    border: 1px solid gray;
    margin-bottom: 50px; }
    body .rate_details .review_booking .book_room {
      border-bottom: 1px solid gray;
      background-color: #e4e4e4; }
      body .rate_details .review_booking .book_room .room_selected img {
        height: 100px;
        width: 125px;
        border-left: 5px solid #84AF10; }
    body .rate_details .review_booking .review_content {
      padding: 10px 20px; }
      body .rate_details .review_booking .review_content .yoursearch {
        margin-bottom: 20px;
        background-color: yellow;
        padding: 10px 10px; }
      body .rate_details .review_booking .review_content .title h4 {
        font-size: 24px;
        font-family: "riseofkingdom";
        padding: 10px; }
      body .rate_details .review_booking .review_content .head_title {
        font-size: 24px;
        font-family: "riseofkingdom"; }
      body .rate_details .review_booking .review_content .notice {
        padding: 0px 10px;
        text-align: justify;
        text-transform: uppercase; }
  body .book_room {
    border: 1px solid gray;
    background-color: #e4e4e4;
    margin-bottom: 20px; }
    body .book_room .room_selected img {
      height: 100px;
      width: 125px;
      border-left: 5px solid #84AF10; }
  body .card {
    margin-bottom: 20px; }
    body .card .card-header {
      padding: .75rem 0rem; }
    body .card .number {
      color: white;
      background-color: #84AF10;
      padding: 14px 12px;
      margin-right: 15px;
      font-weight: bold; }
    body .card .room-title h2 {
      font-size: 18px;
      color: black; }
    body .card .select_room_detail {
      border-right: 1px solid black; }
    body .card .button {
      float: right; }
  @media only screen and (min-device-width: 300px) and (max-device-width: 640px) {
    body {
      /*Contact Us page*/
      /* Contact Us  Page Ends*/
      /* Gallery Section Page  Starts*/
      /*Event Page Responsive*/
      /* Tab-1 ends */
      /*Rooms Page Responsive*/
      /*Home Page Responsive*/
      /*about us */
      /*Room Css */
      /* Activites*/
      /*Testionomial*/
      /*Restuarant Page  responsive*/
      /*popup*/
      /*book now  botton*/
      /* Footer Section Responsive*/ }
      body .navbar-brand {
        position: absolute;
        background-color: white;
        height: 50px;
        width: 100px;
        border-radius: 50%;
        top: 0; }
      body .navbar-brand img {
        height: 100px;
        width: 100px;
        margin-top: 2px;
        margin-left: 5px;
        border-radius: 29%; }
      body .navbar-brand-scroll img {
        height: 65px;
        width: 125px;
        display: none; }
      body .navbar-collapse {
        display: block !important; }
      body .block-menu {
        width: 75%; }
      body .block-menu li {
        display: block; }
      body .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important; }
      body .content {
        width: 100%;
        overflow-x: hidden; }
      body .contactus-banner {
        padding-top: 56px;
        height: 250px;
        margin-bottom: 0px; }
        body .contactus-banner .text-wrapper {
          top: 50%;
          line-height: 0.5; }
          body .contactus-banner .text-wrapper h1 {
            font-size: 18px; }
          body .contactus-banner .text-wrapper h5 {
            font-size: 16px; }
      body .contactus-banner img {
        position: static;
        height: 250px;
        width: 100%; }
      body #contactus {
        margin-bottom: 20px;
        padding-top: 5px; }
        body #contactus .form-area {
          margin-bottom: 0px; }
          body #contactus .form-area .heading {
            margin-bottom: 20px; }
            body #contactus .form-area .heading h3 {
              font-size: 22px; }
          body #contactus .form-area .form-group {
            margin-bottom: 10px; }
          body #contactus .form-area .form-control {
            font-size: 14px;
            line-height: 0.5; }
        body #contactus .contact-info {
          height: 300px;
          border-left: none; }
          body #contactus .contact-info h4 {
            font-size: 18px; }
          body #contactus .contact-info .table {
            font-size: 14px; }
      body iframe {
        height: 200px; }
      body .gallery-banner {
        overflow: hidden;
        height: 200px;
        position: relative; }
        body .gallery-banner .text-wrapper {
          top: 60%; }
          body .gallery-banner .text-wrapper h1 {
            font-size: 18px; }
      body .gallery-banner img {
        position: static;
        height: 200px; }
      body .event-banner {
        overflow: hidden;
        height: 200px;
        position: relative; }
        body .event-banner .text-wrapper {
          top: 50%;
          line-height: 0.2; }
          body .event-banner .text-wrapper h1 {
            font-size: 18px; }
          body .event-banner .text-wrapper h5 {
            font-size: 14px; }
      body .event-banner img {
        position: static;
        height: 200px;
        width: 100%; }
      body .content-wrapper {
        padding: 20px 5px; }
      body #wrapper .tab-link {
        font-size: 10px;
        font-family: "riseofkingdom";
        font-weight: 500;
        padding: 10px 15px; }
      body #event-description .event {
        margin-bottom: 30px;
        border: 1px solid black;
        height: 500px; }
        body #event-description .event .image img {
          margin: 20px 15px;
          -webkit-box-shadow: 10px 5px #84AF10;
          box-shadow: 10px 5px #84AF10; }
        body #event-description .event .title {
          padding-top: 20px; }
          body #event-description .event .title p {
            font-size: 18px; }
        body #event-description .event .details {
          padding-left: 14px; }
          body #event-description .event .details li {
            font-size: 14px;
            padding-left: 30px; }
      body #tab-1 .event .image img {
        height: 200px;
        margin-bottom: 20px; }
      body #tab-1 .event .event-details .event-header {
        margin-bottom: 50px;
        height: 50px; }
        body #tab-1 .event .event-details .event-header .event-time {
          width: 70px;
          height: 80px;
          border: solid 2px #84AF10;
          padding-top: 15px;
          float: left;
          margin-right: 20px; }
          body #tab-1 .event .event-details .event-header .event-time .day {
            font-size: 24px;
            line-height: 1; }
          body #tab-1 .event .event-details .event-header .event-time .month {
            font-size: 18px;
            margin: 0px; }
        body #tab-1 .event .event-details .event-header .event-info h2 {
          font-size: 18px; }
        body #tab-1 .event .event-details .event-header .event-info h4 {
          font-size: 18px; }
      body #tab-1 .event .event-details .event-detail p {
        font-family: "Cookie", cursive;
        font-size: 14px; }
      body .rooms-banner {
        position: relative;
        margin-bottom: 10px; }
        body .rooms-banner .banner-image {
          overflow: hidden;
          height: 300px;
          position: relative; }
        body .rooms-banner .banner-image img {
          position: static;
          height: 300px;
          max-width: 100%; }
        body .rooms-banner .text-wrapper {
          bottom: 0;
          height: 100px;
          width: 100%; }
          body .rooms-banner .text-wrapper .heading {
            padding-top: 50px; }
            body .rooms-banner .text-wrapper .heading h3 {
              font-size: 16px; }
            body .rooms-banner .text-wrapper .heading i {
              font-size: 16px;
              margin-right: 24px; }
            body .rooms-banner .text-wrapper .heading p {
              font-size: 12px; }
          body .rooms-banner .text-wrapper .rate-info {
            display: none; }
      body .content-wrapper {
        padding: 14px; }
      body #room-description {
        margin-bottom: 50px; }
        body #room-description .room-image img {
          height: 200px;
          margin-bottom: 20px; }
        body #room-description .room-detail {
          padding-left: 20px; }
          body #room-description .room-detail .heading h3 {
            font-size: 18px; }
          body #room-description .room-detail p {
            font-size: 12px; }
        body #room-description .room-feature {
          font-size: 12px; }
          body #room-description .room-feature .standard-hidden-feature {
            font-size: 12px; }
          body #room-description .room-feature .wooden-hidden-feature {
            font-size: 12px; }
          body #room-description .room-feature .homestay-hidden-feature {
            font-size: 12px; }
        body #room-description .room-price {
          float: none; }
          body #room-description .room-price .price {
            text-align: center; }
          body #room-description .room-price .button {
            padding: 10px 60px;
            font-size: 14px;
            margin: 4px 49px; }
          body #room-description .room-price strike {
            font-size: 14px; }
          body #room-description .room-price h2 {
            font-size: 18px;
            line-height: 1; }
      body #loader-wrapper {
        display: none; }
      body #popup_this {
        display: none !important; }
      body .banner-slider {
        margin-bottom: 20px;
        position: relative; }
        body .banner-slider .carousel-item {
          overflow: hidden;
          height: 300px; }
          body .banner-slider .carousel-item img {
            max-width: 100%;
            height: 300px;
            position: static; }
        body .banner-slider .booknow {
          display: none; }
      body #aboutus-section {
        margin-bottom: 0px;
        background-color: #e9ebee; }
        body #aboutus-section .heading {
          margin-bottom: 10px; }
          body #aboutus-section .heading h4 {
            font-size: 14px; }
          body #aboutus-section .heading h2 {
            font-size: 18px; }
        body #aboutus-section .info p {
          font-size: 12px;
          margin-bottom: 30px; }
        body #aboutus-section .owl-item {
          margin-right: 9px !important; }
        body #aboutus-section .amenities {
          height: 200px;
          max-width: 100%;
          text-align: center;
          margin-bottom: 0px; }
          body #aboutus-section .amenities .info {
            padding-top: 10px;
            margin-bottom: 10px; }
            body #aboutus-section .amenities .info h2 {
              color: white;
              font-size: 14px;
              margin-bottom: 5px; }
            body #aboutus-section .amenities .info p {
              margin-bottom: 15px;
              text-align: center; }
          body #aboutus-section .amenities .amenities-cat-item {
            height: 75px;
            width: 75px;
            margin-top: 0px;
            margin-right: 0px;
            background-color: #e4f7f6;
            padding-top: 10px; }
            body #aboutus-section .amenities .amenities-cat-item img {
              height: 25px;
              width: 25px;
              margin-left: 25px;
              margin-bottom: 10px; }
            body #aboutus-section .amenities .amenities-cat-item h4 {
              text-align: none;
              font-family: "riseofkingdom";
              font-size: 12px; }
      body #rooms-section {
        background-image: url(../images/room-banner.jpg);
        background-repeat: no-repeat;
        background-size: 100% 1000px;
        background-attachment: fixed;
        margin-bottom: 20px; }
        body #rooms-section .heading {
          padding-top: 30px;
          margin-bottom: 5px; }
          body #rooms-section .heading h2 {
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: white !important;
            margin-bottom: 10px; }
          body #rooms-section .heading p {
            font-family: 'Hind', sans-serif;
            font-size: 12px;
            text-align: center;
            color: white !important; }
        body #rooms-section .slick-slide {
          text-align: center;
          margin-right: 15px;
          margin-left: 20px;
          width: 150px; }
          body #rooms-section .slick-slide img {
            height: 100px; }
        body #rooms-section .slick-next {
          display: none !important; }
        body #rooms-section .slick-prev {
          display: none !important; }
        body #rooms-section .room-description {
          border: 1px solid black;
          margin-right: 20px;
          height: 300px;
          background-color: #e4f7f6;
          margin-bottom: 25px;
          margin-bottom: 80px;
          width: 300px; }
          body #rooms-section .room-description .info h4 {
            font-family: "riseofkingdom";
            font-size: 14px; }
          body #rooms-section .room-description .info p {
            font-size: 12px;
            font-weight: 400;
            font-family: "Cookie", cursive; }
          body #rooms-section .room-description .info .icon {
            font-size: 18px; }
            body #rooms-section .room-description .info .icon i {
              margin-left: 5px;
              margin-right: 5px; }
          body #rooms-section .room-description .info a {
            font-size: 14px;
            text-transform: uppercase; }
      body #activites .heading {
        margin-bottom: 20px;
        font-family: "riseofkingdom"; }
        body #activites .heading h2 {
          font-size: 18px; }
      body #activites .activite-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto; }
        body #activites .activite-list .activite {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
      body #activites .padding {
        margin: 0;
        padding: 0; }
      body #testimonial .heading h4 {
        color: #8F0303;
        padding-top: 50px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px; }
      body #testimonial .heading h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #333333 !important; }
      body #testimonial .carousel {
        width: 100%;
        margin: 0px;
        padding-bottom: 50px; }
      body #testimonial .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 340px; }
      body #testimonial .carousel .item a {
        color: #eb7245; }
      body #testimonial .carousel .img-box {
        width: 75px;
        height: 75px; }
      body #testimonial .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%; }
      body #testimonial .carousel .testimonial {
        padding: 30px 20px 0px;
        font-size: 12px; }
      body #testimonial .carousel .star-rating i {
        font-size: 14px;
        color: #ffdc12; }
      body #testimonial .carousel .carousel-indicators {
        bottom: 15px;
        z-index: -2; }
      body #testimonial .carousel-indicators li,
      body #testimonial .carousel-indicators li.active {
        width: 8px;
        height: 8px; }
      body .restuarant-banner {
        height: 200px; }
        body .restuarant-banner .text-wrapper h1 {
          font-size: 18px;
          margin-bottom: 0px; }
        body .restuarant-banner .text-wrapper h5 {
          font-size: 12px; }
      body .restuarant-banner img {
        position: absolute;
        height: 250px;
        width: 100%; }
      body #about-restuarent .heading {
        padding-top: 10px;
        line-height: 1; }
        body #about-restuarent .heading h3 {
          font-family: "riseofkingdom";
          font-size: 14px;
          margin-bottom: 0px; }
      body #about-restuarent .text-wrapper {
        margin-bottom: 20px; }
        body #about-restuarent .text-wrapper p {
          font-size: 10px; }
        body #about-restuarent .text-wrapper img {
          height: 50px;
          width: 50px;
          margin-bottom: 0px; }
        body #about-restuarent .text-wrapper strong {
          margin-top: 0px;
          font-size: 12px; }
      body #bar .wrapper {
        position: relative;
        margin-bottom: 30px; }
        body #bar .wrapper img {
          padding-left: 0px;
          height: 300px;
          width: 100%; }
      body #bar .about-bar {
        top: 0px;
        left: 15px;
        background-color: #84AF10;
        height: 30px;
        width: 175px;
        padding: 0px;
        font-family: "Cookie", cursive;
        border: none;
        border-radius: 0%; }
        body #bar .about-bar h4 {
          color: white;
          font-size: 14px;
          padding: 8px 10px; }
        body #bar .about-bar p {
          display: none; }
      body #food-item .top-background {
        height: 50px; }
      body #food-item .food-menu {
        margin-bottom: 0px; }
        body #food-item .food-menu .heading h1 {
          margin-bottom: 10px;
          font-size: 18px; }
        body #food-item .food-menu .snip1482 {
          min-width: 100%;
          height: 250px;
          margin: 10px 0px; }
          body #food-item .food-menu .snip1482 img {
            width: 100%;
            height: 200px; }
      body #food-item .background {
        height: 25px; }
      body .last-banner img {
        height: 200px; }
      body .last-banner .text-wrapper {
        position: absolute;
        top: 20%;
        color: white; }
        body .last-banner .text-wrapper h1 {
          font-weight: 400;
          font-size: 14px; }
        body .last-banner .text-wrapper p {
          font-size: 10px;
          margin-bottom: 10px; }
        body .last-banner .text-wrapper a {
          font-size: 14px; }
      body #popup_this {
        display: none; }
      body .show {
        display: none !important; }
      body footer {
        height: 500px;
        background-color: #47434a;
        color: white;
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0; }
        body footer #subscribe {
          height: 125px;
          background: -webkit-gradient(linear, left top, right top, from(#f5cb14), to(#59ba48)) !important;
          background: -webkit-linear-gradient(left, #f5cb14, #59ba48) !important;
          background: -o-linear-gradient(left, #f5cb14, #59ba48) !important;
          background: linear-gradient(to right, #f5cb14, #59ba48) !important; }
          body footer #subscribe .text {
            display: none; }
          body footer #subscribe form {
            padding-top: 10px; }
            body footer #subscribe form .form-control {
              line-height: 1.5; }
            body footer #subscribe form .btn {
              position: absolute;
              top: 10px;
              right: 0;
              border-radius: 0 3px 3px 0;
              line-height: 1.7; }
          body footer #subscribe .followus .title {
            padding-top: 0px;
            font-size: 18px;
            text-transform: uppercase;
            text-align: left; }
          body footer #subscribe .followus .fa {
            font-size: 18px; }
          body footer #subscribe .followus .btn {
            height: 50px;
            width: 50px;
            margin-right: 5px;
            color: white;
            padding-top: 0px;
            text-align: center;
            float: none; }
        body footer .footer-content {
          line-height: 1; }
          body footer .footer-content .footer-logo img {
            display: none; }
          body footer .footer-content .text_wrapper {
            margin-bottom: 10px; }
            body footer .footer-content .text_wrapper .icon {
              padding-top: 0px;
              padding-left: 0px;
              margin-bottom: 0px; }
              body footer .footer-content .text_wrapper .icon .fa {
                font-size: 30px;
                color: #84AF10;
                width: 50px;
                height: 40px;
                text-align: center;
                padding-top: 5px;
                padding-left: 18px;
                margin-right: 10px; }
              body footer .footer-content .text_wrapper .icon p {
                display: inline-grid;
                font-size: 14px;
                font-family: "riseofkingdom";
                margin-bottom: 0px; }
            body footer .footer-content .text_wrapper .details {
              padding-left: 60px;
              font-family: "Cookie", cursive;
              font-size: 14px; }
              body footer .footer-content .text_wrapper .details p {
                font-weight: 400;
                font-family: "riseofkingdom"; }
            body footer .footer-content .text_wrapper .details_email {
              padding-left: 60px;
              font-family: "Cookie", cursive;
              font-size: 14px; }
              body footer .footer-content .text_wrapper .details_email p {
                font-weight: 400;
                font-family: "riseofkingdom"; }
        body footer hr {
          display: none; }
        body footer .footer_copyright_area .copyright {
          font-size: 12px; }
        body footer .footer_copyright_area .policy li {
          display: inline-block;
          margin-right: 20px;
          font-size: 12px; }
        body footer .footer_copyright_area .Developedby {
          font-size: 14px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body {
      /*Navigation*/
      /*about us */
      /*Room Css */
      /* Activites*/
      /*Testionomial*/
      /* Footer Section Responsive*/
      /*Rooms Page Responsive for Tablets*/
      /*Event Page Responsive*/
      /* Tab-1 ends */
      /*Restaurant Responsive for Tablets*/
      /*Restuarant Page  responsive*/
      /*Gallery Page Responsive */
      /*Contact Us page*/ }
      body .content {
        width: 100%;
        overflow-x: hidden; }
      body #loader-wrapper {
        display: none; }
      body #popup_this {
        display: none !important; }
      body .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important; }
      body .navbar-brand {
        height: 150px;
        width: 200px;
        margin-left: 20px;
        border-radius: 50%;
        position: fixed;
        top: 0; }
      body .navbar-brand img {
        height: 125px;
        width: 125px;
        margin-top: 0px;
        margin-left: 35px; }
      body .navbar-brand-scroll img {
        height: 65px;
        width: 125px;
        display: none; }
      body .block-menu {
        width: 50%; }
      body .block-menu li {
        display: block; }
      body .banner-slider {
        margin-bottom: 20px;
        position: relative; }
        body .banner-slider .carousel-item {
          overflow: hidden;
          height: 500px; }
          body .banner-slider .carousel-item img {
            max-width: 100%;
            height: 500px;
            position: absolute; }
        body .banner-slider .booknow {
          display: none; }
      body #aboutus-section {
        margin-bottom: 0px;
        background-color: #e9ebee; }
        body #aboutus-section .heading {
          margin-bottom: 10px; }
          body #aboutus-section .heading h4 {
            font-size: 18px; }
          body #aboutus-section .heading h2 {
            font-size: 24px; }
        body #aboutus-section .info p {
          font-size: 16px;
          margin-bottom: 30px; }
        body #aboutus-section .amenities {
          height: 175px;
          max-width: 100%;
          text-align: center;
          margin-bottom: 0px; }
          body #aboutus-section .amenities .info {
            padding-top: 10px;
            margin-bottom: 10px; }
            body #aboutus-section .amenities .info h2 {
              color: white;
              font-size: 14px;
              margin-bottom: 5px; }
            body #aboutus-section .amenities .info p {
              margin-bottom: 15px; }
          body #aboutus-section .amenities .amenities-cat-item {
            height: 100px;
            width: 100px;
            margin-top: 30px;
            margin-right: 0px;
            background-color: #e4f7f6;
            padding-top: 10px; }
            body #aboutus-section .amenities .amenities-cat-item img {
              height: 50px;
              width: 50px;
              margin-left: 25px;
              margin-bottom: 10px; }
            body #aboutus-section .amenities .amenities-cat-item h4 {
              text-align: none;
              font-family: "riseofkingdom";
              font-size: 12px; }
      body #rooms-section {
        background-image: url(../images/room-banner.jpg);
        background-repeat: no-repeat;
        background-size: 100% 1000px;
        background-attachment: fixed;
        margin-bottom: 20px; }
        body #rooms-section .heading {
          padding-top: 30px;
          margin-bottom: 5px; }
          body #rooms-section .heading h2 {
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            color: white !important;
            margin-bottom: 10px; }
          body #rooms-section .heading p {
            font-family: 'Hind', sans-serif;
            font-size: 12px;
            text-align: center;
            color: white !important; }
        body #rooms-section .slick-slide {
          text-align: center;
          margin-right: 15px;
          margin-left: 20px;
          width: 150px; }
          body #rooms-section .slick-slide img {
            height: 100px; }
        body #rooms-section .slick-next {
          display: none !important; }
        body #rooms-section .slick-prev {
          display: none !important; }
        body #rooms-section .room-description {
          border: 1px solid black;
          margin-right: 20px;
          height: 300px;
          background-color: #e4f7f6;
          margin-bottom: 25px;
          margin-bottom: 80px;
          width: 300px; }
          body #rooms-section .room-description .info h4 {
            font-family: "riseofkingdom";
            font-size: 14px; }
          body #rooms-section .room-description .info p {
            font-size: 12px;
            font-weight: 400;
            font-family: "Cookie", cursive; }
          body #rooms-section .room-description .info .icon {
            font-size: 18px; }
            body #rooms-section .room-description .info .icon i {
              margin-left: 5px;
              margin-right: 5px; }
          body #rooms-section .room-description .info a {
            font-size: 14px;
            text-transform: uppercase; }
      body #activites .heading {
        margin-bottom: 20px;
        font-family: "riseofkingdom"; }
        body #activites .heading h2 {
          font-size: 18px; }
      body #activites .activite-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto; }
        body #activites .activite-list .activite .activite_image img {
          max-width: 100%;
          height: 201px; }
      body #activites .padding {
        margin: 0;
        padding: 0; }
      body #testimonial .heading h4 {
        color: #8F0303;
        padding-top: 50px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px; }
      body #testimonial .heading h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #333333 !important; }
      body #testimonial .carousel {
        width: 100%;
        margin: 0px;
        padding-bottom: 50px; }
      body #testimonial .carousel .item {
        color: #999;
        font-size: 18px;
        text-align: center;
        overflow: hidden;
        min-height: 340p; }
      body #testimonial .carousel .img-box {
        width: 75px;
        height: 75px; }
      body #testimonial .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%; }
      body #testimonial .carousel .testimonial {
        padding: 30px 45px 0px;
        font-size: 18px; }
      body footer {
        height: 350px;
        background-color: #47434a;
        color: white;
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0; }
        body footer #subscribe {
          height: 125px; }
          body footer #subscribe .text {
            padding-top: 10px;
            text-align: justify; }
          body footer #subscribe form {
            padding-top: 40px; }
            body footer #subscribe form .form-control {
              line-height: 1.5; }
            body footer #subscribe form .btn {
              position: absolute;
              top: 40px;
              right: 0;
              border-radius: 0 3px 3px 0;
              line-height: 1.7; }
          body footer #subscribe .followus .title {
            text-transform: uppercase;
            padding: 12px 0px; }
          body footer #subscribe .followus .fa {
            font-size: 18px; }
          body footer #subscribe .followus .btn {
            height: 50px;
            width: 50px;
            margin-right: 0px;
            color: white;
            padding-top: 0px;
            text-align: center;
            float: right; }
        body footer .footer-content {
          line-height: 1; }
          body footer .footer-content .footer-logo img {
            height: 100px;
            width: 150px; }
          body footer .footer-content .text_wrapper {
            padding-top: 15px; }
            body footer .footer-content .text_wrapper .icon {
              padding-top: 0px;
              padding-left: 0px;
              margin-bottom: 0px; }
              body footer .footer-content .text_wrapper .icon .fa {
                font-size: 30px;
                color: #84AF10;
                width: 50px;
                height: 40px;
                text-align: center;
                padding-top: 5px;
                padding-left: 18px;
                margin-right: 10px; }
              body footer .footer-content .text_wrapper .icon p {
                display: inline-grid;
                font-size: 16px;
                font-family: "riseofkingdom";
                margin-bottom: 10px; }
            body footer .footer-content .text_wrapper .details {
              padding-left: 25px;
              font-family: "Cookie", cursive;
              font-size: 14px; }
              body footer .footer-content .text_wrapper .details p {
                font-weight: 400;
                font-family: "riseofkingdom"; }
            body footer .footer-content .text_wrapper .details_email {
              padding-left: 25px;
              padding-right: 25px;
              font-family: "Cookie", cursive;
              font-size: 12px; }
              body footer .footer-content .text_wrapper .details_email p {
                font-weight: 400;
                font-family: "riseofkingdom"; }
        body footer hr {
          border: 1px solid white;
          width: 75%; }
        body footer .footer_copyright_area .copyright {
          font-size: 12px; }
        body footer .footer_copyright_area .policy li {
          display: inline-block;
          margin-right: 10px;
          font-size: 12px; }
        body footer .footer_copyright_area .Developedby {
          font-size: 14px; }
      body .rooms-banner {
        position: relative;
        margin-bottom: 10px; }
        body .rooms-banner .banner-image {
          overflow: hidden;
          height: 500px;
          position: relative; }
        body .rooms-banner .banner-image img {
          position: static;
          height: 500px;
          max-width: 100%; }
        body .rooms-banner .text-wrapper {
          bottom: 0;
          height: 100px;
          width: 100%; }
          body .rooms-banner .text-wrapper .heading {
            padding-top: 50px; }
            body .rooms-banner .text-wrapper .heading h3 {
              font-size: 18px; }
            body .rooms-banner .text-wrapper .heading i {
              font-size: 18px;
              margin-right: 24px; }
            body .rooms-banner .text-wrapper .heading p {
              font-size: 14px; }
          body .rooms-banner .text-wrapper .rate-info {
            display: absolute;
            padding-left: 50px; }
            body .rooms-banner .text-wrapper .rate-info .btn {
              display: none; }
      body .content-wrapper {
        padding: 14px; }
      body #room-description {
        margin-bottom: 50px; }
        body #room-description .room-image img {
          height: 150px;
          margin-bottom: 20px; }
        body #room-description .room-detail {
          padding-left: 20px; }
          body #room-description .room-detail .heading h3 {
            font-size: 18px; }
          body #room-description .room-detail p {
            font-size: 14px; }
        body #room-description .room-feature {
          font-size: 16px; }
          body #room-description .room-feature .standard-hidden-feature {
            font-size: 16px; }
          body #room-description .room-feature .wooden-hidden-feature {
            font-size: 16px; }
          body #room-description .room-feature .homestay-hidden-feature {
            font-size: 16px; }
        body #room-description .room-price {
          float: right; }
          body #room-description .room-price .price {
            text-align: none;
            padding-left: 20px; }
            body #room-description .room-price .price strike {
              font-size: 14px; }
            body #room-description .room-price .price h2 {
              font-size: 16px;
              line-height: 1;
              color: red;
              font-weight: 400; }
          body #room-description .room-price .button {
            font-size: 16px; }
      body .event-banner {
        overflow: hidden;
        height: 300px;
        position: relative; }
        body .event-banner .text-wrapper {
          top: 50%;
          line-height: 0.2; }
          body .event-banner .text-wrapper h1 {
            font-size: 18px; }
          body .event-banner .text-wrapper h5 {
            font-size: 14px; }
      body .event-banner img {
        position: static;
        height: 300px;
        width: 100%; }
      body .content-wrapper {
        padding: 20px 5px; }
      body #wrapper .tab-link {
        font-size: 10px;
        font-family: "riseofkingdom";
        font-weight: 500;
        padding: 10px 15px; }
      body #event-description .event {
        margin-bottom: 30px;
        border: 1px solid black;
        height: 400px; }
        body #event-description .event .image img {
          width: 100%;
          -webkit-box-shadow: 10px 5px #84AF10;
          box-shadow: 10px 5px #84AF10; }
        body #event-description .event .title {
          padding-top: 20px; }
          body #event-description .event .title h5 {
            font-size: 18px; }
          body #event-description .event .title p {
            font-size: 16px; }
        body #event-description .event .details {
          padding-left: 14px; }
          body #event-description .event .details li {
            font-size: 14px;
            padding-left: 0px; }
      body #tab-1 .event .image img {
        height: 200px;
        margin-bottom: 20px; }
      body #tab-1 .event .event-details .event-header {
        margin-bottom: 50px;
        height: 50px; }
        body #tab-1 .event .event-details .event-header .event-time {
          width: 70px;
          height: 80px;
          border: solid 2px #84AF10;
          padding-top: 15px;
          float: left;
          margin-right: 20px; }
          body #tab-1 .event .event-details .event-header .event-time .day {
            font-size: 24px;
            line-height: 1; }
          body #tab-1 .event .event-details .event-header .event-time .month {
            font-size: 18px;
            margin: 0px; }
        body #tab-1 .event .event-details .event-header .event-info h2 {
          font-size: 18px; }
        body #tab-1 .event .event-details .event-header .event-info h4 {
          font-size: 18px; }
      body #tab-1 .event .event-details .event-detail p {
        font-family: "Cookie", cursive;
        font-size: 16px; }
      body #tab-1 .event .event-details .btn {
        font-size: 18px; }
      body .restuarant-banner {
        height: 300px; }
        body .restuarant-banner .text-wrapper h1 {
          font-size: 24px;
          margin-bottom: 0px; }
        body .restuarant-banner .text-wrapper h5 {
          font-size: 14px; }
      body .restuarant-banner img {
        position: static;
        height: 300px;
        width: 100%; }
      body #about-restuarent .heading {
        padding-top: 10px;
        line-height: 1; }
        body #about-restuarent .heading h3 {
          font-size: 18px;
          margin-bottom: 0px; }
      body #about-restuarent .text-wrapper {
        margin-bottom: 20px; }
        body #about-restuarent .text-wrapper p {
          font-size: 14px; }
        body #about-restuarent .text-wrapper img {
          height: 50px;
          width: 50px;
          margin-bottom: 0px; }
        body #about-restuarent .text-wrapper strong {
          margin-top: 0px;
          font-size: 12px; }
      body #bar .wrapper {
        position: relative;
        margin-bottom: 30px; }
        body #bar .wrapper img {
          padding-left: 0px;
          height: 400px;
          width: 100%; }
      body #bar .about-bar {
        top: 15%;
        right: -125px;
        height: 300px;
        width: 300px; }
        body #bar .about-bar h4 {
          margin-bottom: 0px; }
        body #bar .about-bar p {
          font-weight: 200px; }
      body #food-item .top-background {
        height: 50px; }
      body #food-item .food-menu {
        margin-bottom: 0px; }
        body #food-item .food-menu .heading h1 {
          margin-bottom: 10px;
          font-size: 18px; }
        body #food-item .food-menu .snip1482 {
          min-width: 100%;
          height: 250px;
          margin: 10px 0px; }
          body #food-item .food-menu .snip1482 img {
            width: 100%;
            height: 200px; }
      body #food-item .background {
        height: 25px; }
      body .last-banner img {
        height: 300px; }
      body .last-banner .text-wrapper {
        position: absolute;
        top: 30%;
        color: white; }
        body .last-banner .text-wrapper h1 {
          font-weight: 400;
          font-size: 18px; }
        body .last-banner .text-wrapper p {
          font-size: 14pxx; }
        body .last-banner .text-wrapper a {
          font-size: 14px; }
      body .gallery-banner {
        overflow: hidden;
        height: 300px;
        position: relative; }
        body .gallery-banner .text-wrapper {
          top: 50%; }
          body .gallery-banner .text-wrapper h1 {
            font-size: 24px; }
      body .gallery-banner img {
        position: static;
        height: 450px;
        width: 100%;
        padding-top: 56px; }
      body .contactus-banner {
        padding-top: 56px;
        height: 300px;
        margin-bottom: 0px; }
        body .contactus-banner .text-wrapper {
          top: 50%;
          line-height: 0.5; }
          body .contactus-banner .text-wrapper h1 {
            font-size: 24px; }
          body .contactus-banner .text-wrapper h5 {
            font-size: 18px; }
      body .contactus-banner img {
        position: static;
        height: 300px;
        width: 100%; }
      body #contactus .contact-info {
        height: 350px;
        border-left: none; }
        body #contactus .contact-info h4 {
          font-size: 18px; }
        body #contactus .contact-info .table {
          font-size: 18px;
          font-family: "riseofkingdom"; }
      body iframe {
        height: 250px; } }
  @media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
    body .block-menu li a {
      line-height: 21px; }
    body #loader {
      left: 0%;
      right: 0%;
      top: 35%;
      margin: 0 auto; }
    body #image1 {
      display: block;
      position: relative;
      top: 22%;
      left: 53%; } }
