@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


@font-face {
    font-family: riseofkingdom;
    src: url(../fonts/riseofkingdom.ttf);
}




$logo-color: #84AF10;
$font:'Cookie',cursive;
$heading-font:'riseofkingdom';
$p_size: 24px;
$li_font:'Crimson Text',
serif;
$fonts:'Playfair Display',
serif;
$margin: 70px;
$shadow:5px 5px 5px #8e8989;







body {
    margin: 0 auto;
    background-color:$logo-color;


    .form-control:focus {
        border-color: none;
        box-shadow: none;
    }

    .btn.focus,
    .btn:focus {
        outline: 0;
        box-shadow: none!important;
    }


.modal-backdrop {

    z-index:0 !important;
   }




    .padding {
        margin: 0px;
        padding: 0px;
    }

    h2 {
        text-transform: uppercase;
        color: $logo-color;
    }

    .btn-outline {
        color: $logo-color;
        border-color: $logo-color;
        font-family: $heading-font;
        font-size: 24px;
    }

    .btn-outline:hover {
        color: #fff;
        background-color: $logo-color;
        border-color: $logo-color;
    }

    hr {
        border: 2px solid $logo-color;
    }

    a:focus {
        outline: none;
    }





    .content {
        background-color: #e9ebee;
        z-index: 1;
        position: relative;
    }


    .block-menu li a {
        font-family: $heading-font;
    }
    .show {
        display: block !important;
        ;
    }
    /*Fixed Book Button*/
    #book_botton {
        display: none;

        a {
            font-family: $heading-font;
            bottom: 25%;
            z-index: 1;
            position: fixed;
            right: 0;
            font-size: 18px;
            animation-delay: 0.5s;
            background: #BDE453;
            border: none;
            color: white;



            .text {
               display:block;
            }
        }

        .btn {
            padding: 5px 15px;
        }

        .btn:hover {
            padding: 5px 20px;
        }
    }


    #popup_this {
        top: 50%;
        left: 50%;
        text-align: center;
        margin-top: 50px;
        margin-left: -50px;
        position: fixed;
        padding: 30px;
        z-index: 1;

        .b-close {
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
            color: #fff;
            background: #ff0000;
            padding: 5px 10px;
        }
    }





    .banner-slider {

        margin-bottom: $margin;
        position: relative;


        .carousel-item {
            overflow: hidden;
            height:600px;





            img {
                margin-top: 110px;
                width: 100%;
                position: absolute;
                min-height: 300px;
                height:600px;
                box-sizing: border-box;
                box-shadow: 10px 10px grey;
            }
        }

        .booknow {
            border-radius: 1%;
            position: absolute;
            bottom: -40px;
            max-width: 100%;
            left: 0;
            right: 0;


                .Wrapper {
                background-color: $logo-color;
               box-shadow:inset -1px 1px 20px 0px black;
                box-sizing: border-box;
                border: 1px solid white;
            }


            .btn {
                padding: 5px 48px;
                font-size: 18px;
                font-family: $heading-font;
                font-weight: 400;
                background-color:green;
                color: white;
                margin-top: 15px;
                margin-left: 20px;
            }

            .form-group {
                    margin-top:20px;
                label {
                    font-family: $heading-font;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    color: white;
                    margin-right: 10px;
                }

                .form {
                    font-size: 14px;
                    padding: 4px 21px;
                    background-color: rgba(255, 255, 255, 0.5);
                    color: black;
                    border: none;
                }
            }
        }
    }

    /*about us */
    #aboutus-section {
        margin-bottom: 0px;
        background-color: #e9ebee;

        .heading {
            margin-bottom: 30px;

            h4 {
                font-family: $heading-font;
                font-size: 24px;
                font-weight: 400;
                text-align: center;
                color: $logo-color;
            }

            h2 {
                font-family: $heading-font;
                font-size: 36px;
                text-align: center;
                color: #333333 !important;
            }
        }

        .info {
            p {
                font-family: 'Didact Gothic', sans-serif;
                margin-bottom: 50px;
                font-weight: 400;
                font-size: 18px;
            }
        }


        .amenities {
            margin-bottom:20px;
            background: linear-gradient(to bottom right, #84AF10, green);
            box-sizing: border-box;
            box-shadow: 5px 5px 5px #8e8989;
            .info {
                padding-top:25px;
                margin-left: 25px;


                h2 {
                    color: white;
                    font-family: $heading-font;
                    font-weight: 400;
                    text-transform: none;
                }

                p {
                    text-align: justify;
                    font-family: $font;
                    font-weight: 400;
                    font-size: $p_size;
                }
            }

            .padding {
                margin: 0px;
                padding: 0px
            }


            .amenities-cat-item {
                height: 200px;
                width: 180px;
                margin-top:30px;
                background-color: #e4f7f6;
                padding-top: 25px;
                border-radius: 3%;

                img {
                    height: 75px;
                    width: 75px;
                    margin-left: 60px;
                    margin-bottom: 20px;
                }

                h4 {
                    text-align: center;
                    font-family: $heading-font;
                }
            }
        }
    }




    /*Room Css */
    #rooms-section {
        background-image: url(../images/room-banner.jpg);
        background-repeat: no-repeat;
        background-size: 100% 1000px;
        background-attachment: fixed;
        margin-bottom: $margin;
        .heading {
            padding-top: 50px;
            margin-bottom: 100px;
            h2 {
                font-family: $heading-font;
                font-size: 36px;
                font-weight: 400;
                text-align: center;
                color: white !important;
                margin-bottom: 20px;
            }

            p {
                font-family: 'Philosopher', sans-serif;
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                color: white !important;
            }
        }
        .slick-slide {
            text-align: center;
            margin-right: 15px;
            margin-left: 15px;
            width: 250px;


            img {
                height: 200px;
            }
        }

        .room-description {

            margin-right:0px;
            height: 460px;
            background-color: #e4f7f6;
            margin-bottom: 25px;
            margin-bottom: 80px;
            width:250px;


            .image {
                img {
                    width: 100%;
                    height:200px;
                    margin-bottom: 20px;
                }
            }



            .info {

                h4 {
                    font-family: $heading-font;
                    color: $logo-color;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                .price {
                    position: relative;
                    img {
                        height: 50px;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    .price_tag {
                        position: absolute;
                        top: 12px;
                        left: 50px;
                    }
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'Philosopher', sans-serif;
                    color: white;
                }


                .icon {
                    font-size: 22px;
                    i {
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }

                a {
                font-size: 18px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                  
                }


                a:hover {
                    box-shadow: none;
                }
            }
        }
    }



    /*Activites Css */
    #activites {
        .heading {
            margin-bottom: $margin;
            font-family: $heading-font;
        }

        .padding {
            margin: 0;
            padding: 0;
        }

        .activite_title {
            font-family: $heading-font !important;
        }
    }

    /* Testimonial Section */
    #testimonial {
        .heading {

            h4 {
                color: #8F0303;
                padding-top: 50px;
                font-family: $heading-font;
                font-size: 24px;
                font-weight: 400;
                text-align: center;
                color: $logo-color;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            h2 {
                font-family: $heading-font;
                font-size: 36px;
                text-align: center;
                color: #333333 !important;
            }
        }

        .carousel {
            width: 800px;
            margin: 0 auto;
            padding-bottom: 50px;
        }
        .carousel .item {
            color: #999;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            min-height: 340px;
        }
        .carousel .item a {
            color: #eb7245;
        }
        .carousel .img-box {
            width: 145px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%;
        }
        .carousel .img-box img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }
        .carousel .testimonial {
            padding: 30px 0 10px;
            font-size: $p_size;
            color: black;
            font-family: $font;
        }
        .carousel .overview {
            text-align: center;
            padding-bottom: 5px;
        }
        .carousel .overview b {
            color: #333;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            padding-bottom: 5px;
        }
        .carousel .star-rating i {
            font-size: 18px;
            color: #ffdc12;
        }
        .carousel .carousel-control {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #999;
            text-shadow: none;
            top: 4px;
        }
        .carousel-control i {
            font-size: 20px;
            margin-right: 2px;
        }
        .carousel-control.left {
            left: auto;
            right: 40px;
        }
        .carousel-control.right i {
            margin-right: -2px;
        }
        .carousel .carousel-indicators {
            bottom: 15px;
            z-index: -2;
        }
        .carousel-indicators li,
        .carousel-indicators li.active {
            width: 11px;
            height: 11px;
            margin: 1px 5px;
            border-radius: 50%;
        }
        .carousel-indicators li {
            background: #e2e2e2;
            border-color: transparent;
        }
        .carousel-indicators li.active {
            border: none;
            background: #888;
        }
    }


        #subscribe {
              
       .background{
              border-top:5px solid #84AF10;
        box-shadow:  inset 0px 5px 5px #8e8989;   
              background: linear-gradient(to right, #f5cb14, #47434a) !important;
          }


            .text {
                padding-top: 25px;
                font-size: 16px;
                font-family: 'Philosopher', sans-serif;
                color: white;
            }

            form {
                padding-top: 25px;

                .form-control {
                    line-height: 2.5;
                }

                .btn {
                    position: absolute;
                    top: 25px;
                    right: 0;
                    border-radius: 0 3px 3px 0;
                    line-height: 2.5;
                }
            }



            .followus {

                .title {
                    padding-top: 10px;
                    font-size: 22px;
                    text-transform: uppercase;
                    padding-left: 100px;
                    font-family: $heading-font;
                    color: white;
                }
                .fa {
                    font-size: 24px;
                }
                .btn {
                    height: 50px;
                    width: 50px;
                    margin-right: 5px;
                    color: white;
                    padding-top: 13px;
                    position: relative;
                    left: 50px;
                }
                .btn-fb:hover {
                    background-color: #3b5998;
                    transition: 2s;
                }
                .btn-insta:hover {
                    background-color:#df308d;
                    transition: 2s;
                }

                .btn-tweet:hover {
                    background-color: #00aced;
                    transition: 2s;
                }
                .btn-googleplus:hover {
                    background-color: #d34836;
                    transition: 2s;
                }
            }
        }


        .footer-content {
             background-color: #47434a;
             color: white;
                
            .footer-logo img {
                height: 150px;
                width: 265px;
                margin-top: 5px;
                margin-bottom: 30px;
            }

            .text-wrapper {



                padding-top: 70px;
                .fa {
                    font-size: 35px;
                    color: $logo-color;
                    width: 50px;
                    height: 40px;
                    text-align: center;
                    margin-right: 15px;
                }

                p {
                    font-family: 'Philosopher', sans-serif;
                    font-size: 14px;
                    padding-top: 20px;
                }
            }



            .policy {
                li {
                    display: inline-block;
                    margin-right: 10px;
                    text-align: center;


                    a {
                        font-size: 12px;
                    }
                }
            }

            .copyright {
                font-size: 12px;
                .name {
                    color: $logo-color;
                }
            }

            .Developedby {
                
                    font-size: 12px;
              
            }
        }
    




    /*Restuarant Css */
    .restuarant-banner {
        overflow: hidden;
        height: 450px;
        position: relative;
        box-shadow:$shadow;

        .text-wrapper {
            position: absolute;
            top: 50%;
            color: white;

            h1 {
                text-transform: uppercase;
                font-family: $heading-font;
                font-weight: 400;

            }

            h5 {
                text-transform: uppercase;
                font-family: $heading-font;
                font-size: 22px;
            }
        }
    }


    .restuarant-banner img {
        position: absolute;
        height: 450px;
        width: 100%;
    }

    #about-restuarent {

        .restauarant {

            margin-top: 20px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .heading {
            padding-top: 20px;
            h3 {
                font-family: $heading-font;
            }
        }

        .text-wrapper {

            font-family: $font;
            font-size: $p_size;
        }

        .cook_image {
            margin-bottom: 25px;
            img {
                height: 125px;
                width: 125px;
                border-radius: 50%;
                position: absolute;
                bottom: 20px;
                left: 20%;
                border: 1px solid white;
            }

            p {
                font-family: $font;
                font-size: 24px;
                margin-bottom: 25px;
            }
        }
    }

    #bar {
        .wrapper {
            position: relative;
            margin-bottom: 30px;
      

            img {
                box-shadow: $shadow;
               
            }
        }
        .about-bar {
            position: absolute;
            top: 20%;
            right: -150px;
            background-color: #f1e7e7;
            height: 375px;
            width: 400px;
            border: 1px solid #f1f1f1;
            padding: 30px 30px 30px 30px;
            font-family: $font;
            border-radius: 5px;
            font-size: $p_size;

            h4 {
                font-family: $heading-font;
                text-transform: uppercase;
                color: $logo-color;
            }

            p {
                font-weight: 200px;
            }
        }
    }

    #food-item {
        margin-bottom: 50px;
        
        h1 {
            text-align: center;
            font-family: 500px;
        }

        .food-menu {
            .heading {
                h1 {
                    font-family: $heading-font;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                    color: $logo-color;
                }
            }
        
        }

       



        .snip1482 {
            font-family: $heading-font;
            position: relative;
            float: left;
            margin: 10px 20px;
            min-width: 250px;
            max-width: 250px;
            height: 200px;
            width: 100%;
            color: #ffffff;
            text-align: right;
            line-height: 1.4em;
            background-color: white;
            border-radius: 1%;
            font-size: 16px;
            margin-bottom: 10px;
            box-shadow: 10px 10px 5px #adb798;
            border-radius: 50%;
        }
        .snip1482 * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        .snip1482 img {
            position: absolute;
            right: 0%;
            top: 50%;
            opacity: 1;
            width: 100%;
            height: 200px;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
            border-radius: 50%;
        }
        .snip1482 figcaption {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 20px 0 20px 20px;
        }
        .snip1482 h2,
        .snip1482 p {
            margin-right: 20px;
            width: 100%;
            -webkit-transform: translateX(20px);
            transform: translateX(20px);
            opacity: 0;
        }
        .snip1482 h2 {
            font-family: $heading-font;
            text-transform: uppercase;
            margin-bottom: 5px;
            padding-right: 25px;
            font-size: 18px;
        }
        .snip1482 small {
            color: black;
            font-size: 16px;
            font-family: $li_font;
            font-weight: bold;
        }
        .snip1482 a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        .snip1482:hover img,
        .snip1482.hover img {
            width: 60%;
            right: -10%;
            height: 50%;
        }


        .snip1482:hover figcaption h2,
        .snip1482.hover figcaption h2,
        .snip1482:hover figcaption p,
        .snip1482.hover figcaption p {
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 1;
        }
    }


    .last-banner {
        position: relative;

        .text-wrapper {
            position: absolute;
            top: 35%;
            color: white;

            h1 {
                text-transform: uppercase;
                font-weight: 400;
                font-family: $heading-font;
                margin-bottom: 20px;
            }

            p {
                font-family: $heading-font;
                font-size: 20px;
            }
        }
    }
    /*Gallery page css  */
    .gallery-banner {
        overflow: hidden;
        height: 450px;
        position: relative;
        box-shadow:$shadow;

        .text-wrapper {
            position: absolute;
            top: 50%;
            color: white;


            h1 {
                font-family: $heading-font;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }


    .gallery-banner img {
        position: absolute;
        height: 450px;
        width: 100%;
        padding-top: 56px;
    }

    #gallery {
        margin-top: 20px;
        border: solid 5px white;
        border-bottom-color:white;
        border-left-color:white;
        border-radius: 2px;
        border-right-color:white;
        border-top-color: #ddd;
        box-shadow: $shadow;
        box-sizing: border-box;
    }


    /* Contact Us page Css */
    .contactus-banner {
        overflow: hidden;
        height: 450px;
        position: relative;
        box-shadow: $shadow;




        .text-wrapper {
            position: absolute;
            top: 50%;
            color: white;

            h1 {
                text-transform: uppercase;
                font-family: $heading-font;
                font-weight: 400;
            }

            h5 {
                text-transform: uppercase;
                font-family: $heading-font;
                font-size: 22px;
            }
        }
    }


    .contactus-banner img {
        position: absolute;
        height: 450px;
        width: 100%;
    }







    #contactus {
        margin-bottom: $margin;
        padding-top: 20px;

        .form-area {
            .heading {
                margin-bottom: 20px;
                font-family: $heading-font;
                .color {
                    color: $logo-color;
                }
            }

            .btn {
                font-family: $heading-font;
                font-size:18px;
            }

            .btn-primary:hover {
                background-color: $logo-color;
                border-color: $logo-color;
            }
        }

        .contact-info {
            height: 500px;
            border-left: 2px solid $logo-color;

            h4 {
                font-family: $heading-font;
            }


            .table {
                margin-left: 30px;
                width: 90%;
                font-family: 'Philosopher', sans-serif;
                font-size: 18px;
            }
        }
    }
    /* Reservation Page Css */
    .btn-primary {
        color: #fff;
        background-color: $logo-color;
        border-color: $logo-color;
        margin-bottom:50px;
    }

    .package-list {
        margin-left: 20px;
    }

    .nav-tabs {
        margin-bottom: 20px;

        .nav-item {
            .active {
                background-color: $logo-color;
                color: white !important;
            }
            .nav-link {
                font-size: 20px;
                font-family: $heading-font;
                color: $logo-color;
            }
        }
    }

    input[type="checkbox"] {
        width: 15px;
        /*Desired width*/
        height: 15px;
        /*Desired height*/
        margin-right: 10px;
    }

    .form-group {
        

        input:focus {
            outline: none !important;
        }
    }
    /* Roomspage Css */
    .rooms-banner {
        position: relative;
        margin-bottom: 100px;


        .banner-image {
            overflow: hidden;
            height: 100vh;
            position: relative;
            box-shadow:$shadow;
        }

        .banner-image img {
            position: absolute;
            height: 100vh;
            min-width: 100%;
        }

        .text-wrapper {
            position: absolute;
            bottom: 0;
            background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 0, 0, 0));
            height: 150px;
            width: 100%;
            color: white;

            .heading {
                padding-top: 50px;

                h3 {
                    font-family: $heading-font;
                    line-height: normal;
                    font-weight: 500;
                }

                i {
                    font-size: 24px;
                    margin-right: 24px;
                }

                p {
                    font-size: 18px;
                    font-family: $heading-font;
                }
            }

            .rate-info {

                padding-top: 30px;
                .rate-label {
                    padding-top: 20px;
                    color: #fff;
                    font-family: $heading-font;
                    font-weight: 500;
                    text-transform: uppercase;

                    .btn {
                        position: absolute;
                        right:25px;
                        top: 50px;
                        border-outline: none;
                    }
                }
            }
        }
    }


    #wrapper {
        .tab-link {
            font-family: $heading-font;
        }
    }

    #room-description {
        hr {
            border: 0;
            height: 1px;
            background: $logo-color;
            background-image: linear-gradient(to right, $logo-color, #333, $logo-color)
        }
        margin-bottom:100px;
        .room-image {
            img {
                width: 100%;
                height: 200px;
                box-shadow: 5px 5px 11px $logo-color;
                margin-bottom: 50px;
            }
        }

        .room-detail {
            padding-left: 20px;
            .heading {
                font-family: $heading-font;
                color: $logo-color;
            }

            p {
                font-family: $heading-font;
                font-weight: 400;
                cursor: pointer;
                font-size: 14px;
                text-align: center;
            }
        }

        .room-feature {
            font-family: 'Didact Gothic', sans-serif;
            font-size: 14px;

            .standard-hidden-feature {
                display: none;
            }

            .wooden-hidden-feature {
                display: none;
            }

            .homestay-hidden-feature {
                display: none;
            }

            .tentstay-hidden-feature {
                display: none;
            }
        }

        .room-price {
            float: right;
            .price {
                text-align: right;

                strike {
                    color: red;
                }
                h2 {
                    font-size: 22px;
                    font-family: $heading-font;
                    color: black;
                    margin-top: 10px;
                }
            }

            .button {
                background-color: #84bd00;
                border: none;
                color: white;
                padding: 8px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 6px;
                font-family: $heading-font;
                float: right;
            }
        }
    }



    /* Event Page Css */
    .event-banner {
        overflow: hidden;
        height: 450px;
        position: relative;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5) inset, 0 5px 10px 5px rgba(0, 0, 0, .5);

        .text-wrapper {
            position: absolute;
            top: 50%;
            color: white;

            h1 {
                text-transform: uppercase;
                font-family: $heading-font;
                font-weight: 400;
            }

            h5 {
                font-family: $heading-font;
                font-weight: 300;
                font-size: 22px;
            }
        }
    }


    .event-banner img {
        position: absolute;
        height: 450px;
        width: 100%;
    }



    #event-description {

        .event {
            margin-bottom: 30px;
            border: 1px solid $logo-color;
            background-color: white;
            height: auto;
            overflow: hidden;

            .image img {
                width: 100%;
                margin: 40px 10px;
                box-shadow: 5px 5px 11px #84AF10;
            }

            .title {
                padding-top: 20px;
                font-family: $heading-font;

                h5 {
                    color: $logo-color;
                    font-family: $heading-font;
                    font-size: 16px;

                }

                p {
                    font-size: 14px;
                }
            }

            .details {
                li {
                    font-size: 14px;
                    font-family: Poppins;
                    line-height: 1.5;
                }
            }
        }
    }

    #tab-1 {

        .event {
            margin-bottom: 50px;

            .image img {
                width: 100%;
                height: 300px;
                 box-shadow: 5px 5px 11px #84AF10;
            }

            .image:hover {
                opacity: 0.5;
            }




            .event-details {
                .event-header {
                    margin-bottom: 30px;
                    height: 100px;
                    .event-time {

                        width: 100px;
                        height: 120px;
                        border: solid 2px $logo-color;
                        padding-top: 15px;
                        float: left;
                        margin-right: 20px;




                        .day {
                            font-family: "Playfair Display", serif;
                            font-size: 48px;
                            font-weight: bold;
                            line-height: 1;
                            text-align: center;
                            color: $logo-color;
                            margin: 0px;
                        }

                        .month {
                            font-family: "Playfair Display", serif;
                            font-size: 24px;
                            font-weight: bold;
                            text-align: center;
                            color: $logo-color;
                            margin: 0px;
                        }
                    }


                    .event-info {
                        font-family: $heading-font;
                        font-weight: 400;
                    }
                }

                .event-detail {
                    p {
                        font-family: $font;
                        font-weight: 400;
                        font-size: 24px;
                    }

                    .btn {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    /*Search Result Page Css*/
    .select_guest {
        margin-bottom: 10px;
    }

    .select_guest label {
        font-size: 16px;
    }

    .search_rooms {
       
        height: auto;
        background-color: $logo-color;
        margin-bottom: 100px;
        box-shadow:$shadow;

        .room_title h4 {
            font-size: 14px;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }


        .room_picker {
            padding: 10px 18px;
        }


        .room_picker {
            padding: 10px 18px;
        }


        .nav-tabs{

                .nav-item{
                    background-color: $logo-color;
                    border: 1px solid white;

                
                .nav-link{
                    color: white !important;
                }
            }

            .nav-item:hover{
                    background-color:green;
                    border: 1px solid $logo-color;

           

                }
        }

        .note{
            h2{
                color: red;
                font-size: 14px;
            }
        }

        .rooms_select{
                display: block;
                width: 110%;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .search_button{
            margin-bottom:20px;
            margin-top: 20px;

        }


     
    }

     .header_content {
            background: $logo-color;
            color: white;
            padding: 7px 15px;
            margin-bottom: 10px;

                    .content {
                     
                      text-align: center; 
                      font-family: 'Lato', sans-serif;
                      font-size:24px;
                      color:white;
                      background-color: $logo-color;
                      
                      &__container {
                        font-weight: 600;
                        overflow: hidden;
                        height: 40px;
                        text-align: center;


                        &:after, &:before {
                          position: absolute;
                          top: 0;
                          font-size: 36px;
                          line-height: 40px;
                          
                          -webkit-animation-name: opacity;
                          -webkit-animation-duration: 2s;
                          -webkit-animation-iteration-count: infinite;
                          animation-name: opacity;
                          animation-duration: 2s;
                          animation-iteration-count: infinite;
                        }

                        &__text {
                          display: inline;
                          text-align: center;
                          margin: 0;
                        }

                        &__list {
                          margin-top: 0;
                          text-align: center;
                          list-style: none;
                          
                          -webkit-animation-name: change;
                          -webkit-animation-duration: 10s;
                          -webkit-animation-iteration-count: infinite;
                          animation-name: change;
                          animation-duration: 10s;
                          animation-iteration-count: infinite;

                          &__item {
                            line-height:40px;
                            margin:0;
                          }
                        }
                      }
                    }

                    @-webkit-keyframes opacity {
                      0%, 100% {opacity:0;}
                      50% {opacity:1;}
                    }

                    @-webkit-keyframes change {
                      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
                      16.66%, 29.32% {transform:translate3d(0,-25%,0);}
                      33.32%,45.98% {transform:translate3d(0,-50%,0);}
                      49.98%,62.64% {transform:translate3d(0,-75%,0);}
                      66.64%,79.3% {transform:translate3d(0,-50%,0);}
                      83.3%,95.96% {transform:translate3d(0,-25%,0);}
                    }

                    @-o-keyframes opacity {
                      0%, 100% {opacity:0;}
                      50% {opacity:1;}
                    }

                    @-o-keyframes change {
                      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
                      16.66%, 29.32% {transform:translate3d(0,-25%,0);}
                      33.32%,45.98% {transform:translate3d(0,-50%,0);}
                      49.98%,62.64% {transform:translate3d(0,-75%,0);}
                      66.64%,79.3% {transform:translate3d(0,-50%,0);}
                      83.3%,95.96% {transform:translate3d(0,-25%,0);}
                    }

                    @-moz-keyframes opacity {
                      0%, 100% {opacity:0;}
                      50% {opacity:1;}
                    }

                    @-moz-keyframes change {
                      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
                      16.66%, 29.32% {transform:translate3d(0,-25%,0);}
                      33.32%,45.98% {transform:translate3d(0,-50%,0);}
                      49.98%,62.64% {transform:translate3d(0,-75%,0);}
                      66.64%,79.3% {transform:translate3d(0,-50%,0);}
                      83.3%,95.96% {transform:translate3d(0,-25%,0);}
                    }

                    @keyframes opacity {
                      0%, 100% {opacity:0;}
                      50% {opacity:1;}
                    }

                    @keyframes change {
                      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
                      16.66%, 29.32% {transform:translate3d(0,-25%,0);}
                      33.32%,45.98% {transform:translate3d(0,-50%,0);}
                      49.98%,62.64% {transform:translate3d(0,-75%,0);}
                      66.64%,79.3% {transform:translate3d(0,-50%,0);}
                      83.3%,95.96% {transform:translate3d(0,-25%,0);}
                    }

        }

    .search_rooms select {
        padding: 0px 10px;
    }

    .search_result {
            
        margin-bottom: 20px;

        .heading {
            background: #4d4d4f;
            color: white;
            padding: 15px 15px;
            border: 1px solid;

           a{
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-family: $fonts;
            }
        }

        .offer_room {
            border: 1px solid gray;
            margin-bottom: 10px;

            .image {
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .room_description {
                h4 {
                    color: $logo-color;
                    font-family: $heading-font;
                    font-size: 24px;
                    padding-top: 10px;
                }
            }

            .price_details {

                .btn {
                    background-color: $logo-color;
                    padding: 5px 40px;
                    color: white;
                    text-decoration: none;
                }

                .card-header {
                    text-decoration: underline;
                    color: $logo-color;
                    font-size: 14px;
                    text-align: center;
                }

                .card-body {
                    font-size: 14px;
                }
            }
        }

        .rooms_rate_list {
            border: 1px solid gray;

            .rooms_search {

                .date {
                    background-color: $logo-color;
                    color: white;
                    padding: 10px 10px;
                    font-size: 18px;
                    font-family: $fonts;
                }


                .card-header a {
                    text-decoration: none;
                    color: black;
                    font-family: $fonts;

                    .text {
                        float: right;

                        .rate {
                            font-size: 24px;
                            text-decoration: bold;
                        }
                    }
                }

                .card-header a:after {
                    font-family: FontAwesome;
                    content: "\f068";
                    float: left;
                    color: $logo-color;
                    margin-right: 10px;
                    border: 1px solid $logo-color;
                    padding: 1px 3px;
                    font-size: 12px;
                }

                .card-header a.collapsed:after {
                    float: left !important;
                    content: "\f067";
                    color: $logo-color;
                    margin-right: 10px $logo-color;
                }
            }


            .card-body {

                .policy_text{
                    font-size: 14px;
                    color: black;
                    padding-left:20px;
                }
                .price_details {
                    float: right;


                    .strike-rate {
                        font-size: 14px;
                        margin-right: 10px;
                        color: red;
                    }

                    .rate {
                        font-size: 20px;
                        font-family: $fonts;
                        margin-right: 20px;
                    }



                    .inline {
                        display: inline-block;
                    }

                    .btn {
                        background-color: $logo-color;
                        padding: 5px 40px;
                        color: white;
                        text-decoration: none;
                    }
                }

                .child-collapse {
                    border: 1px solid gray;
                    box-shadow: 0px 3px 2px #888888;
                    padding: 20px 30px;
                    .title {
                        h2 {
                            font-size: 16px;
                            text-decoration: underline;
                        }
                    }

                    .room_details {
                        h4 {
                            font-size: 14px;
                        }

                        p {
                            line-height: 1;
                            font-size: 14px;
                            margin-left: 40px;
                            display: list-item;
                        }

                        .btn {
                            background-color: $logo-color;
                            padding: 5px 40px;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .terms {
        padding: 10px 10px;
        line-height: 1;
    }

    .rate_details {
        .heading {
            background: #4d4d4f;
            color: white;
            padding: 15px 15px;
            border: 1px solid;

            h4 {
                font-size: 18px;
            }
        }

        .header_content {
            background: $logo-color;
            color: white;
            padding: 7px 15px;
            margin-bottom: 10px;
        }

        .inline {
            display: inline-block;
        }

        .review_booking {
            border: 1px solid gray;
            margin-bottom: 50px;

            .book_room {
                border-bottom: 1px solid gray;
                background-color: #e4e4e4;

                .room_selected {
                    img {
                        height: 100px;
                        width: 125px;
                        border-left: 5px solid $logo-color;
                    }
                }
            }

            .review_content {
                padding: 10px 20px;


                .yoursearch {
                    margin-bottom: 20px;
                    background-color: yellow;
                    padding: 10px 10px;
                }

                .title h4 {
                    font-size: 24px;
                    font-family: $heading-font;
                    padding: 10px;
                }

                .head_title {
                    font-size: 24px;
                    font-family: $heading-font;
                }


                .notice {
                    padding: 0px 10px;
                    text-align: justify;
                    text-transform: uppercase;
                }
            }
        }
    }

    .book_room {
        border: 1px solid gray;
        background-color: #e4e4e4;
        margin-bottom: 20px;

        .room_selected {
            img {
                height: 100px;
                width: 125px;
                border-left: 5px solid $logo-color;
            }
        }
    }

    .card {
        margin-bottom: 20px;
        .card-header {
            padding: .75rem 0rem;
        }
        .number {
            color: white;
            background-color: $logo-color;
            padding: 14px 12px;
            margin-right: 15px;
            font-weight: bold;
        }


        .room-title{
            h2{
                font-size: 18px;
                color: black;
            }
        }

        .select_room_detail{
            border-right: 1px solid black;
        }

        .button{
                float: right;
        }

   

    }





    /*Search Ends*/
    /*Mobile Responsive Contact Us  Page*/
    // Extra small devices (portrait phones, less than 576px)
    @media only screen and (min-device-width :300px) and (max-device-width :640px) {



        // Navigation 
        .navbar-brand {
            position: absolute;
            background-color: white;
            height: 50px;
            width: 100px;
            border-radius: 50%;
            top: 0;
        }

        .navbar-brand img {
            height: 100px;
            width: 100px;
            margin-top: 2px;
            margin-left: 5px;
            border-radius: 29%;
        }

        .navbar-brand-scroll img {
            height: 65px;
            width: 125px;
            display: none;
        }

        .navbar-collapse {
            display: block !important;
        }


        .block-menu {
            width: 75%;
        }

        .block-menu li {
            display: block;
        }


        .animated {
            /*CSS transitions*/
            -o-transition-property: none !important;
            -moz-transition-property: none !important;
            -ms-transition-property: none !important;
            -webkit-transition-property: none !important;
            transition-property: none !important;
            /*CSS transforms*/
            -o-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -webkit-transform: none !important;
            transform: none !important;
            /*CSS animations*/
            -webkit-animation: none !important;
            -moz-animation: none !important;
            -o-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
        }


        .content {
            width: 100%;
            overflow-x: hidden;
        }

        /*Contact Us page*/
        .contactus-banner {
            padding-top: 56px;
            height: 250px;
            margin-bottom: 0px;
            .text-wrapper {
                top: 50%;
                line-height: 0.5;

                h1 {
                    font-size: 18px;
                }

                h5 {
                    font-size: 16px;
                }
            }
        }


        .contactus-banner img {
            position: static;
            height: 250px;
            width: 100%;
        }

        #contactus {

            margin-bottom: 20px;
            padding-top: 5px;


            .form-area {
                margin-bottom: 0px;
                .heading {
                    margin-bottom: 20px;

                    h3 {
                        font-size: 22px;
                    }
                }


                .form-group {
                    margin-bottom: 10px;
                }
                .form-control {
                    font-size: 14px;
                    line-height: 0.5;
                }
            }

            .contact-info {
                height: 300px;
                border-left: none;

                h4 {
                    font-size: 18px;
                }

                .table {
                    font-size: 14px;
                }
            }
        }

        iframe {
            height: 200px;
        }

        /* Contact Us  Page Ends*/
        /* Gallery Section Page  Starts*/
        .gallery-banner {
            overflow: hidden;
            height: 200px;
            position: relative;

            .text-wrapper {
                top: 60%;
                h1 {
                    font-size: 18px
                }
            }
        }


        .gallery-banner img {
            position: static;
            height: 200px;
        }






        /*Event Page Responsive*/
        .event-banner {
            overflow: hidden;
            height: 200px;
            position: relative;

            .text-wrapper {
                top: 50%;
                line-height: 0.2;

                h1 {
                    font-size: 18px;
                }

                h5 {
                    font-size: 14px;
                }
            }
        }


        .event-banner img {
            position: static;
            height: 200px;
            width: 100%;
        }

        .content-wrapper {
            padding: 20px 5px;
        }

        #wrapper {
            .tab-link {
                font-size: 10px;
                font-family: $heading-font;
                font-weight: 500;
                padding: 10px 15px;
            }
        }

        #event-description {
            .event {
                margin-bottom: 30px;
                border: 1px solid black;
                height: 500px;

                .image img {
                    margin: 20px 15px;
                    box-shadow: 10px 5px $logo-color;
                }

                .title {
                    padding-top: 20px;

                    p {
                        font-size: 18px;
                    }
                }

                .details {
                    padding-left: 14px;
                    li {

                        font-size: 14px;
                        padding-left: 30px;
                    }
                }
            }
        }
        #tab-1 {
            .event {
                .image img {
                    height: 200px;
                    margin-bottom: 20px;
                }

                .event-details {
                    .event-header {
                        margin-bottom: 50px;
                        height: 50px;
                        .event-time {
                            width: 70px;
                            height: 80px;
                            border: solid 2px $logo-color;
                            padding-top: 15px;
                            float: left;
                            margin-right: 20px;




                            .day {
                                font-size: 24px;
                                line-height: 1;
                            }

                            .month {
                                font-size: 18px;
                                margin: 0px;
                            }
                        }


                        .event-info {

                            h2 {
                                font-size: 18px;
                            }

                            h4 {
                                font-size: 18px;
                            }
                        }
                    }

                    .event-detail {
                        p {
                            font-family: $font;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        /* Tab-1 ends */
        /*Rooms Page Responsive*/
        .rooms-banner {
            position: relative;
            margin-bottom: 10px;

            .banner-image {
                overflow: hidden;
                height: 300px;
                position: relative;
            }

            .banner-image img {
                position: static;
                height: 300px;
                max-width: 100%;
            }

            .text-wrapper {
                bottom: 0;
                height: 100px;
                width: 100%;

                .heading {
                    padding-top: 50px;

                    h3 {
                        font-size: 16px;
                    }

                    i {
                        font-size: 16px;
                        margin-right: 24px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .rate-info {
                    display: none;
                }
            }
        }


        .content-wrapper {
            padding: 14px;
        }

        #room-description {
            margin-bottom: 50px;
            .room-image {
                img {

                    height: 200px;
                    margin-bottom: 20px;
                }
            }

            .room-detail {
                padding-left: 20px;
                .heading {

                    h3 {
                        font-size: 18px;
                    }
                }

                p {

                    font-size: 12px;
                }
            }

            .room-feature {
                font-size: 12px;

                .standard-hidden-feature {
                    font-size: 12px;
                }

                .wooden-hidden-feature {
                    font-size: 12px;
                }

                .homestay-hidden-feature {

                    font-size: 12px;
                }
            }

            .room-price {
                float: none;

                .price {
                    text-align: center;
                }

                .button {
                    padding: 10px 60px;
                    font-size: 14px;
                    margin: 4px 49px;
                }

                strike {
                    font-size: 14px;
                }

                h2 {
                    font-size: 18px;
                    line-height: 1;
                }
            }
        }
        /*Home Page Responsive*/
        #loader-wrapper {
            display: none;
        }

        #popup_this {
            display: none !important;
        }


        .banner-slider {
            margin-bottom: 20px;
            position: relative;

            .carousel-item {
                overflow: hidden;
                height: 300px;

                img {
                    max-width: 100%;
                    height: 300px;
                    position: static;
                }
            }

            .booknow {
                display: none;
            }
        }

        /*about us */
        #aboutus-section {
            margin-bottom: 0px;
            background-color: #e9ebee;

            .heading {
                margin-bottom: 10px;

                h4 {

                    font-size: 14px;
                }

                h2 {
                    font-size: 18px;
                }
            }

            .info {
                p {
                    font-size: 12px;
                    margin-bottom: 30px;
                }
            }

            .owl-item {
                margin-right: 9px !important;
            }


            .amenities {

                height: 200px;
                max-width: 100%;
                text-align: center;
                margin-bottom: 0px;


                .info {
                    padding-top: 10px;
                    margin-bottom: 10px;



                    h2 {
                        color: white;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    p {
                        margin-bottom: 15px;
                        text-align: center;
                    }
                }


                .amenities-cat-item {
                    height: 75px;
                    width: 75px;
                    margin-top: 0px;
                    margin-right: 0px;
                    background-color: #e4f7f6;
                    padding-top: 10px;

                    img {
                        height: 25px;
                        width: 25px;
                        margin-left: 25px;
                        margin-bottom: 10px;
                    }

                    h4 {
                        text-align: none;
                        font-family: $heading-font;
                        font-size: 12px;
                    }
                }
            }
        }




        /*Room Css */
        #rooms-section {
            background-image: url(../images/room-banner.jpg);
            background-repeat: no-repeat;
            background-size: 100% 1000px;
            background-attachment: fixed;
            margin-bottom: 20px;
            .heading {
                padding-top: 30px;
                margin-bottom: 5px;
                h2 {
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    color: white !important;
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Hind', sans-serif;
                    font-size: 12px;
                    text-align: center;
                    color: white !important
                }
            }
            .slick-slide {
                text-align: center;
                margin-right: 15px;
                margin-left: 20px;
                width: 150px;


                img {
                    height: 100px;
                }
            }

            .slick-next {
                display: none !important;
            }

            .slick-prev {
                display: none !important;
            }

            .room-description {
                border: 1px solid black;
                margin-right: 20px;
                height: 300px;
                background-color: #e4f7f6;
                margin-bottom: 25px;
                margin-bottom: 80px;
                width: 300px;


                .info {

                    h4 {
                        font-family: $heading-font;
                        font-size: 14px;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 400;
                        font-family: $font;
                    }


                    .icon {
                        font-size: 18px;
                        i {
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }

                    a {

                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
        }


        /* Activites*/
        #activites {
            .heading {
                margin-bottom: 20px;
                font-family: $heading-font;
                h2 {
                    font-size: 18px;
                }
            }

            .activite-list {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;

                .activite {
                    flex: 0 0 auto;
                }
            }
            .padding {
                margin: 0;
                padding: 0;
            }
        }


        /*Testionomial*/
        #testimonial {
            .heading {

                h4 {
                    color: #8F0303;
                    padding-top: 50px;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    color: #333333 !important;
                }
            }

            .carousel {
                width: 100%;
                margin: 0px;
                padding-bottom: 50px;
            }
            .carousel .item {
                color: #999;
                font-size: 14px;
                text-align: center;
                overflow: hidden;
                min-height: 340px;
            }
            .carousel .item a {
                color: #eb7245;
            }
            .carousel .img-box {
                width: 75px;
                height: 75px;
            }
            .carousel .img-box img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
            }
            .carousel .testimonial {
                padding: 30px 20px 0px;
                font-size: 12px;
            }
            .carousel .star-rating i {
                font-size: 14px;
                color: #ffdc12;
            }

            .carousel .carousel-indicators {
                bottom: 15px;
                z-index: -2;
            }
            .carousel-indicators li,
            .carousel-indicators li.active {
                width: 8px;
                height: 8px;
            }
        }



        /*Restuarant Page  responsive*/
        .restuarant-banner {
            height: 200px;

            .text-wrapper {

                h1 {
                    font-size: 18px;
                    margin-bottom: 0px;


                }

                h5 {
                    font-size: 12px;
                }
            }
        }


        .restuarant-banner img {
            position: absolute;
            height: 250px;
            width: 100%;
        }


        #about-restuarent {
            .heading {
                padding-top: 10px;
                line-height: 1;
                h3 {
                    font-family: $heading-font;
                    font-size: 14px;
                    margin-bottom: 0px;
                }
            }

            .text-wrapper {
                margin-bottom: 20px;

                p {
                    font-size: 10px;
                }
                img {
                    height: 50px;
                    width: 50px;
                    margin-bottom: 0px;
                }

                strong {
                    margin-top: 0px;
                    font-size: 12px;
                }
            }
        }

        #bar {
            .wrapper {
                position: relative;
                margin-bottom: 30px;

                img {
                    padding-left: 0px;
                    height: 300px;
                    width: 100%;
                }
            }
            .about-bar {
                top: 0px;
                left: 15px;
                background-color: $logo-color;
                height: 30px;
                width: 175px;
                padding: 0px;
                font-family: $font;
                border: none;
                border-radius: 0%;


                h4 {
                    color: white;
                    font-size: 14px;
                    padding: 8px 10px;
                }

                p {
                    display: none;
                }
            }
        }

        #food-item {

            .top-background {
                height: 50px;
            }

            .food-menu {
                margin-bottom: 0px;
                .heading {
                    h1 {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                }

                .snip1482 {
                    min-width: 100%;
                    height: 250px;
                    margin: 10px 0px;

                    img {
                        width: 100%;
                        height: 200px;
                    }
                }
            }



            .background {
                height: 25px;
            }
        }


        .last-banner {
            img {
                height: 200px;
            }
            .text-wrapper {
                position: absolute;
                top: 20%;
                color: white;

                h1 {
                    font-weight: 400;
                    font-size: 14px;
                }

                p {
                    font-size: 10px;
                    margin-bottom: 10px;
                }

                a {
                    font-size: 14px;
                }
            }
        }
        /*popup*/
        #popup_this {
            display: none;
        }
        /*book now  botton*/
        .show {
            display: none !important;
        }





        /* Footer Section Responsive*/
        footer {
            height: 500px;
            background-color: #47434a;
            color: white;
            position: fixed;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;

            #subscribe {
                height: 125px;
                background: linear-gradient(to right, #f5cb14, #59ba48) !important;

                .text {
                    display: none;
                }

                form {
                    padding-top: 10px;

                    .form-control {
                        line-height: 1.5;
                    }

                    .btn {
                        position: absolute;
                        top: 10px;
                        right: 0;
                        border-radius: 0 3px 3px 0;
                        line-height: 1.7;
                    }
                }



                .followus {

                    .title {
                        padding-top: 0px;
                        font-size: 18px;
                        text-transform: uppercase;
                        text-align: left;
                    }
                    .fa {
                        font-size: 18px;
                    }
                    .btn {
                        height: 50px;
                        width: 50px;
                        margin-right: 5px;
                        color: white;
                        padding-top: 0px;
                        text-align: center;
                        float: none;
                    }
                }
            }

            .footer-content {
                line-height: 1;

                .footer-logo img {
                    display: none;
                }

                .text_wrapper {

                    margin-bottom: 10px;

                    .icon {

                        padding-top: 0px;
                        padding-left: 0px;
                        margin-bottom: 0px;

                        .fa {
                            font-size: 30px;
                            color: $logo-color;
                            width: 50px;
                            height: 40px;
                            text-align: center;
                            padding-top: 5px;
                            padding-left: 18px;
                            margin-right: 10px;
                        }

                        p {
                            display: inline-grid;
                            font-size: 14px;
                            font-family: $heading-font;
                            margin-bottom: 0px;
                        }
                    }

                    .details {
                        padding-left: 60px;
                        font-family: $font;
                        font-size: 14px;


                        p {
                            font-weight: 400;
                            font-family: $heading-font;
                        }
                    }

                    .details_email {
                        padding-left: 60px;
                        font-family: $font;
                        font-size: 14px;


                        p {
                            font-weight: 400;
                            font-family: $heading-font;
                        }
                    }
                }
            }

            hr {
                display: none;
            }


            .footer_copyright_area {
                .copyright {
                    font-size: 12px;
                }

                .policy {
                    li {
                        display: inline-block;
                        margin-right: 20px;
                        font-size: 12px;
                    }
                }

                .Developedby {
                    font-size: 14px;
                }
            }
        }
    }
    /*Mobile Responsive Ends*/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

        .content {
            width: 100%;
            overflow-x: hidden;
        }

        #loader-wrapper {
            display: none;
        }

        #popup_this {
            display: none !important;
        }


        .animated {
            /*CSS transitions*/
            -o-transition-property: none !important;
            -moz-transition-property: none !important;
            -ms-transition-property: none !important;
            -webkit-transition-property: none !important;
            transition-property: none !important;
            /*CSS transforms*/
            -o-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -webkit-transform: none !important;
            transform: none !important;
            /*CSS animations*/
            -webkit-animation: none !important;
            -moz-animation: none !important;
            -o-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
        }
        /*Navigation*/
        .navbar {}

        .navbar-brand {
            height: 150px;
            width: 200px;
            margin-left: 20px;
            border-radius: 50%;
            position: fixed;
            top: 0;
        }


        .navbar-brand img {
            height: 125px;
            width: 125px;
            margin-top: 0px;
            margin-left: 35px;
        }


        .navbar-brand-scroll img {
            height: 65px;
            width: 125px;
            display: none;
        }


        .block-menu {
            width: 50%;
        }

        .block-menu li {
            display: block;
        }


        .banner-slider {
            margin-bottom: 20px;
            position: relative;

            .carousel-item {
                overflow: hidden;
                height: 500px;

                img {
                    max-width: 100%;
                    height: 500px;
                    position: absolute;
                }
            }

            .booknow {
                display: none;
            }
        }

        /*about us */
        #aboutus-section {
            margin-bottom: 0px;
            background-color: #e9ebee;

            .heading {
                margin-bottom: 10px;

                h4 {

                    font-size: 18px;
                }

                h2 {
                    font-size: 24px;
                }
            }

            .info {
                p {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
            }


            .amenities {

                height: 175px;
                max-width: 100%;
                text-align: center;
                margin-bottom: 0px;


                .info {
                    padding-top: 10px;
                    margin-bottom: 10px;



                    h2 {
                        color: white;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    p {
                        margin-bottom: 15px;
                    }
                }


                .amenities-cat-item {
                    height: 100px;
                    width: 100px;
                    margin-top: 30px;
                    margin-right: 0px;
                    background-color: #e4f7f6;
                    padding-top: 10px;

                    img {
                        height: 50px;
                        width: 50px;
                        margin-left: 25px;
                        margin-bottom: 10px;
                    }

                    h4 {
                        text-align: none;
                        font-family: $heading-font;
                        font-size: 12px;
                    }
                }
            }
        }




        /*Room Css */
        #rooms-section {
            background-image: url(../images/room-banner.jpg);
            background-repeat: no-repeat;
            background-size: 100% 1000px;
            background-attachment: fixed;
            margin-bottom: 20px;
            .heading {
                padding-top: 30px;
                margin-bottom: 5px;
                h2 {
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    color: white !important;
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Hind', sans-serif;
                    font-size: 12px;
                    text-align: center;
                    color: white !important
                }
            }
            .slick-slide {
                text-align: center;
                margin-right: 15px;
                margin-left: 20px;
                width: 150px;


                img {
                    height: 100px;
                }
            }

            .slick-next {
                display: none !important;
            }

            .slick-prev {
                display: none !important;
            }

            .room-description {
                border: 1px solid black;
                margin-right: 20px;
                height: 300px;
                background-color: #e4f7f6;
                margin-bottom: 25px;
                margin-bottom: 80px;
                width: 300px;


                .info {

                    h4 {
                        font-family: $heading-font;
                        font-size: 14px;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 400;
                        font-family: $font;
                    }


                    .icon {
                        font-size: 18px;
                        i {
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                    }

                    a {

                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
            }
        }


        /* Activites*/
        #activites {
            .heading {
                margin-bottom: 20px;
                font-family: $heading-font;
                h2 {
                    font-size: 18px;
                }
            }

            .activite-list {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;

                .activite {
                    .activite_image img {
                        max-width: 100%;
                        height: 201px;
                    }
                }
            }




            .padding {
                margin: 0;
                padding: 0;
            }
        }
        /*Testionomial*/
        #testimonial {
            .heading {

                h4 {
                    color: #8F0303;
                    padding-top: 50px;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    color: #333333 !important;
                }
            }

            .carousel {
                width: 100%;
                margin: 0px;
                padding-bottom: 50px;
            }
            .carousel .item {
                color: #999;
                font-size: 18px;
                text-align: center;
                overflow: hidden;
                min-height: 340p
            }
            .carousel .img-box {
                width: 75px;
                height: 75px;
            }
            .carousel .img-box img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
            }
            .carousel .testimonial {
                padding: 30px 45px 0px;
                font-size: 18px;
            }
        }

        /* Footer Section Responsive*/
        footer {
            height: 350px;
            background-color: #47434a;
            color: white;
            position: fixed;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;

            #subscribe {
                height: 125px;

                .text {
                    padding-top: 10px;
                    text-align: justify;
                }

                form {
                    padding-top: 40px;

                    .form-control {
                        line-height: 1.5;
                    }

                    .btn {
                        position: absolute;
                        top: 40px;
                        right: 0;
                        border-radius: 0 3px 3px 0;
                        line-height: 1.7;
                    }
                }



                .followus {

                    .title {
                        text-transform: uppercase;
                        padding: 12px 0px;
                    }
                    .fa {
                        font-size: 18px;
                    }
                    .btn {
                        height: 50px;
                        width: 50px;
                        margin-right: 0px;
                        color: white;
                        padding-top: 0px;
                        text-align: center;
                        float: right;
                    }
                }
            }

            .footer-content {
                line-height: 1;

                .footer-logo img {
                    height: 100px;
                    width: 150px;
                }

                .text_wrapper {

                    padding-top: 15px;

                    .icon {

                        padding-top: 0px;
                        padding-left: 0px;
                        margin-bottom: 0px;

                        .fa {
                            font-size: 30px;
                            color: $logo-color;
                            width: 50px;
                            height: 40px;
                            text-align: center;
                            padding-top: 5px;
                            padding-left: 18px;
                            margin-right: 10px;
                        }

                        p {
                            display: inline-grid;
                            font-size: 16px;
                            font-family: $heading-font;
                            margin-bottom: 10px;
                        }
                    }

                    .details {
                        padding-left: 25px;
                        font-family: $font;
                        font-size: 14px;


                        p {
                            font-weight: 400;
                            font-family: $heading-font;
                        }
                    }


                    .details_email {
                        padding-left: 25px;
                        padding-right: 25px;
                        font-family: $font;
                        font-size: 12px;


                        p {
                            font-weight: 400;
                            font-family: $heading-font;
                        }
                    }
                }
            }

            hr {
                border: 1px solid white;
                width: 75%;
            }


            .footer_copyright_area {
                .copyright {
                    font-size: 12px;
                }

                .policy {
                    li {
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }

                .Developedby {
                    font-size: 14px;
                }
            }
        }
        /*Rooms Page Responsive for Tablets*/
        .rooms-banner {
            position: relative;
            margin-bottom: 10px;

            .banner-image {
                overflow: hidden;
                height: 500px;
                position: relative;
            }

            .banner-image img {
                position: static;
                height: 500px;
                max-width: 100%;
            }

            .text-wrapper {
                bottom: 0;
                height: 100px;
                width: 100%;

                .heading {
                    padding-top: 50px;

                    h3 {
                        font-size: 18px;
                    }

                    i {
                        font-size: 18px;
                        margin-right: 24px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .rate-info {
                    display: absolute;
                    padding-left: 50px;

                    .btn {
                        display: none;
                    }
                }
            }
        }


        .content-wrapper {
            padding: 14px;
        }

        #room-description {
            margin-bottom: 50px;
            .room-image {
                img {

                    height: 150px;
                    margin-bottom: 20px;
                }
            }

            .room-detail {
                padding-left: 20px;
                .heading {

                    h3 {
                        font-size: 18px;
                    }
                }

                p {

                    font-size: 14px;
                }
            }

            .room-feature {
                font-size: 16px;

                .standard-hidden-feature {
                    font-size: 16px;
                }

                .wooden-hidden-feature {
                    font-size: 16px;
                }

                .homestay-hidden-feature {

                    font-size: 16px;
                }
            }

            .room-price {
                float: right;

                .price {
                    text-align: none;
                    padding-left: 20px;

                    strike {
                        font-size: 14px;
                    }

                    h2 {
                        font-size: 16px;
                        line-height: 1;
                        color: red;
                        font-weight: 400;
                    }
                }

                .button {

                    font-size: 16px;
                }
            }
        }
        /*Event Page Responsive*/
        .event-banner {
            overflow: hidden;
            height: 300px;
            position: relative;

            .text-wrapper {
                top: 50%;
                line-height: 0.2;

                h1 {
                    font-size: 18px;
                }

                h5 {
                    font-size: 14px;
                }
            }
        }


        .event-banner img {
            position: static;
            height: 300px;
            width: 100%;
        }

        .content-wrapper {
            padding: 20px 5px;
        }

        #wrapper {
            .tab-link {
                font-size: 10px;
                font-family: $heading-font;
                font-weight: 500;
                padding: 10px 15px;
            }
        }

        #event-description {
            .event {
                margin-bottom: 30px;
                border: 1px solid black;
                height: 400px;

                .image img {
                    width: 100%;
                    box-shadow: 10px 5px $logo-color;
                }

                .title {
                    padding-top: 20px;


                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .details {
                    padding-left: 14px;
                    li {
                        font-size: 14px;
                        padding-left: 0px;
                    }
                }
            }
        }
        #tab-1 {
            .event {
                .image img {
                    height: 200px;
                    margin-bottom: 20px;
                }

                .event-details {
                    .event-header {
                        margin-bottom: 50px;
                        height: 50px;
                        .event-time {
                            width: 70px;
                            height: 80px;
                            border: solid 2px $logo-color;
                            padding-top: 15px;
                            float: left;
                            margin-right: 20px;




                            .day {
                                font-size: 24px;
                                line-height: 1;
                            }

                            .month {
                                font-size: 18px;
                                margin: 0px;
                            }
                        }


                        .event-info {

                            h2 {
                                font-size: 18px;
                            }

                            h4 {
                                font-size: 18px;
                            }
                        }
                    }

                    .event-detail {
                        p {
                            font-family: $font;
                            font-size: 16px;
                        }
                    }

                    .btn {
                        font-size: 18px;
                    }
                }
            }
        }
        /* Tab-1 ends */
        /*Restaurant Responsive for Tablets*/
        /*Restuarant Page  responsive*/
        .restuarant-banner {
            height: 300px;


            .text-wrapper {

                h1 {
                    font-size: 24px;
                    margin-bottom: 0px;
                }

                h5 {
                    font-size: 14px;
                }
            }
        }


        .restuarant-banner img {
            position: static;
            height: 300px;
            width: 100%;
        }


        #about-restuarent {
            .heading {
                padding-top: 10px;
                line-height: 1;
                h3 {
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            }

            .text-wrapper {
                margin-bottom: 20px;

                p {
                    font-size: 14px;
                }
                img {
                    height: 50px;
                    width: 50px;
                    margin-bottom: 0px;
                }

                strong {
                    margin-top: 0px;
                    font-size: 12px;
                }
            }
        }

        #bar {
            .wrapper {
                position: relative;
                margin-bottom: 30px;

                img {
                    padding-left: 0px;
                    height: 400px;
                    width: 100%;
                }
            }

            .about-bar {
                top: 15%;
                right: -125px;
                height: 300px;
                width: 300px;


                h4 {

                    margin-bottom: 0px;
                }

                p {
                    font-weight: 200px;
                }
            }
        }

        #food-item {

            .top-background {
                height: 50px;
            }

            .food-menu {
                margin-bottom: 0px;
                .heading {
                    h1 {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                }

                .snip1482 {
                    min-width: 100%;
                    height: 250px;
                    margin: 10px 0px;

                    img {
                        width: 100%;
                        height: 200px;
                    }
                }
            }



            .background {
                height: 25px;
            }
        }


        .last-banner {
            img {
                height: 300px;
            }
            .text-wrapper {
                position: absolute;
                top: 30%;
                color: white;

                h1 {
                    font-weight: 400;
                    font-size: 18px;
                }

                p {
                    font-size: 14pxx;
                }

                a {
                    font-size: 14px;
                }
            }
        }
        /*Gallery Page Responsive */
        .gallery-banner {
            overflow: hidden;
            height: 300px;
            position: relative;

            .text-wrapper {
                top: 50%;

                h1 {
                    font-size: 24px;
                }
            }
        }


        .gallery-banner img {
            position: static;
            height: 450px;
            width: 100%;
            padding-top: 56px;
        }

        /*Contact Us page*/
        .contactus-banner {
            padding-top: 56px;
            height: 300px;
            margin-bottom: 0px;
            .text-wrapper {
                top: 50%;
                line-height: 0.5;

                h1 {
                    font-size: 24px;
                }

                h5 {
                    font-size: 18px;
                }
            }
        }


        .contactus-banner img {
            position: static;
            height: 300px;
            width: 100%;
        }

        #contactus {


            .contact-info {
                height: 350px;
                border-left: none;

                h4 {
                    font-size: 18px;
                }

                .table {
                    font-size: 18px;
                    font-family: $heading-font;
                }
            }
        }

        iframe {
            height: 250px;
        }
    }
    /*Responsive for tablet ends*/
    @media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
        .block-menu li a {
            line-height: 21px;
        }
        #loader {
            left: 0%;
            right: 0%;
            top: 35%;
            margin: 0 auto;
        }

        #image1 {
            display: block;
            position: relative;
            top: 22%;
            left: 53%;
        }
    }
}