

.navbar-brand{
	position: absolute;
   

    
}

.half-circle {
    width: 200px;
    height: 100px; /* as the half of the width */
    background-color: white;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border: 5px solid #84AF10;
    border-top: 0;
    position: absolute;
    margin-top: 90px;
    box-shadow: 2px 2px 2px #8e8989;
}

.navbar-brand img{
    height: 150px;
    width: 150px;
 	top: -64px;
    margin-left: 20px;
    position: absolute;
    border-radius: 32%;

}

.navbar-brand-scroll img{
	height:75px; 
    width: 150px;
    display: none;

}

.navbar-dark .navbar-toggler{
    background-color: #84AF10  !important;
}



.block-menu {
	display: block;
	margin-right: 0;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color:black;
	display: block;
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	font-smoothing: antialiased;
	overflow: visible;
	line-height: 20px;
	font-size: 20px;
	padding: 15px 10px;
	margin-top:15px;

}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:white;
	padding: 15px 10px;
	color:green;
	pointer-events: none;
	box-sizing: border-box;
}

.back {
  background:#84AF10;
  color:white;
}

.navbar{	
		 position: fixed;
          width: 100%;
          z-index: 2;
          -webkit-transition:padding 0.2s ease;
          -moz-transition:padding 0.2s ease; 
          -o-transition:padding 0.2s ease;        
          transition:padding 0.2s ease;
          
          padding:0;
        
      	  
      }



   

.affix {
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear; 
  position: fixed;
  padding: 0;
  margin: 0;

  transition: all 0.5s ease-in;
}

.affix .navbar-brand{
     display: none;


}

.affix .navbar-toggler{
    margin-right: 20px;
}


.affix .navbar-brand-scroll img{
     display: block;
     margin-left:20px;
}

.navigation{
	background-color:white; 
	border-bottom:5px solid #84AF10;
	box-shadow: 0px 5px 5px #8e8989;
}





// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

	.navbar-brand img{
	height: 100px;
	width: 100px;
	margin-top: 60px;
	margin-left: 25px;
	border-radius: 29%;
}
	
}


