body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* jquery validation */
label.error {
    color: #e7505a;
    margin-left: 10px;
    padding: 7px;
}
input.error {
    border: 2px solid #e7505a;
}


#demo{
	margin-top: 56px;
	height:auto;
  margin-bottom: 50px;
  box-shadow:0px 10px 11px #8e8989;
  background-color: white;

}

.step-steps a{
		height: 70px;
}




/*Image Radio Button*/

  .cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector-2 input {
  position: absolute;
  z-index: 999;
}


.cc-selector-2 input:active +.drinkcard-cc,
.cc-selector input:active +.drinkcard-cc {
  opacity: .9;
}

.cc-selector-2 input:checked +.drinkcard-cc,
.cc-selector input:checked +.drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);

}

/*Image Radio Button Ends*/

.conference-room{
      border: 1px solid black;
      padding: 0px 30px;
      box-shadow: 2px 2px gray;
      padding-top: 15px;
      margin-bottom: 10px;
}

.day{
  border: 1px solid black;
  padding: 10px 15px;
  background-color: black;
  margin-right: 10px;
  color: white;
  margin-top: 10px;
}

.add a{
  float: right;
}


.expire_date{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.terms{
    margin-top: 20px;
    border:1px solid #a8a8a8;
    padding: 20px 10px;
    margin-bottom:40px;
}

.checkbox{
    margin-bottom:10px;
    margin-right: 10px;
}

.checkbox input{
   margin-right: 10px;

}

#terms{
    padding: 10px 60px;
    border:1px solid #a8a8a8;
    background-color:#e8e1d9


}

.asterisk{
    color: red;
}

.step-btn-next {
  padding: 5px 50px;
  color: white;
  text-decoration: none;
  background:#84AF10 ;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top:90px;
  right:20px;
}

 .step-btn-prev {
  padding: 5px 50px;
  color:white;
  text-decoration: none;
  background: #84AF10 ;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top:90px;
  left:20px;
}

.step-btn {
  padding: 5px 50px;
  color: white;
  text-decoration: none;
  background:#84AF10 ;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom:5px;
  right:20px;

}

.image img{
   max-width: 100%;
   box-shadow: 5px 5px 11px #84AF10;
   margin-top: 30px;

}





	 